[2018-02-12 05:08] ByFede commented on #184
Said **False**, but when I run the **Train** use my 6GB GPU Memory at 40/50% usage.

What's wrong with my instalation? I've done all exactly described twice.

[code]

[2018-02-12 05:27] iperov commented on #184
@ByFede

extract using dlib
train using tensorflow
convert using dlib and tensorflow

in latest commit convert use alignments got from extract, so you have to run extract again.
also your dlib built without CUDA.

pip uninstall dlib
goto dlib dir
python setup.py install --yes DLIB_USE_CUDA

[2018-02-12 05:40] ZeroCool22 commented on #184
@iperov

[code]

[2018-02-12 05:44] ZeroCool22 commented on #184
@iperov It's wrong to use `setup.py install --yes USE_AVX_INSTRUCTIONS --yes DLIB_USE_CUDA`?

[2018-02-12 05:44] iperov commented on #184
nothing wrong

[2018-02-12 05:51] ZeroCool22 commented on #184
@iperov Well used that for install DLIB, but convert doesn't use the GPU.

Can you tell how run that .py check you said before...

I did a new .py file called **cuda** y put inside the code:

[code]

The n i did` cd C:\Users\ZeroCool22\Desktop\Nueva carpeta (2)>python cuda.py` and excecute `python cuda.py`,

I excecute it in my BASE env and said this:

[code]

If i ejecute it on the faceswap ENVS:

[2018-02-12 06:03] ZeroCool22 commented on #184
**conda list**
[code]

[2018-02-12 06:18] iperov commented on #184
@ZeroCool22
as interpreter:
run python.exe
import dlib
dlib.DLIB_USE_CUDA

from .py :

print(dlib.DLIB_USE_CUDA)

[2018-02-12 06:43] iperov commented on #184
I built with cuDNN 6 ok.

my trick how to build dlib with installed both 2015 and 2017:
is edit dlib\setup.py:

[code]

[2018-02-12 06:44] ZeroCool22 commented on #184
@iperov

(deepfakes) C:\Users\ZeroCool22\Desktop\Nueva carpeta (2)>python cuda.py
Traceback (most recent call last):
  File "cuda.py", line 1, in <module>
    print(dlib.DLIB_USE_CUDA)
NameError: name 'dlib' is not defined

[2018-02-12 06:48] iperov commented on #184
![notepad _2018-02-12_10-47-33](https://user-images.githubusercontent.com/8076202/36085871-4fc0d962-0fe2-11e8-9ed0-85b303897215.png)

[2018-02-12 06:54] ZeroCool22 commented on #184
![screenshot_8](https://user-images.githubusercontent.com/13344308/36085998-72ccbf82-0fa8-11e8-95f9-94f8eb81c49b.png)

[2018-02-12 06:58] ZeroCool22 commented on #184
@iperov Now yes:

![screenshot_9](https://user-images.githubusercontent.com/13344308/36086096-f04dffac-0fa8-11e8-8c18-7d412c48812a.png)

[2018-02-12 07:26] ZeroCool22 commented on #184
@iperov Found the FAIL while installing DLIB:

![screenshot_11](https://user-images.githubusercontent.com/13344308/36086749-d57fc1ca-0fac-11e8-8167-8ceaca162220.jpg)

How i can FIX it?

[2018-02-12 07:27] iperov commented on #184
full log

[2018-02-12 07:35] ZeroCool22 commented on #184
@iperov If want the cuda_test from `C:\Users\ZeroCool22\Desktop\dlib ultimo chico\dlib-master\build\temp.win-amd64-3.6\Release\dlib_build\cuda_test_build` i can give it yo you.

But the LOG whilw installing DLIB doesn't show up FULL on the Anaconda terminal...

[2018-02-12 07:42] iperov commented on #184
i dont know what to say without log.

[2018-02-12 07:48] ZeroCool22 commented on #184
**DLIB INSTALLATION LOG:** https://drive.google.com/open?id=15TKqWINR8twQH7LiPSapT89JmGBGtj9-

**CUDA TEST:** https://drive.google.com/open?id=15TKqWINR8twQH7LiPSapT89JmGBGtj9-

[2018-02-12 07:49] iperov commented on #184
-_- same files

[2018-02-12 07:53] iperov commented on #184
cmakecache ?

[2018-02-12 08:01] ZeroCool22 commented on #184
I don't know if you needed that, that's the patch that appears in the Anaconda prompt: `C:\Users\ZeroCool22\Desktop\DLIB ULTIMO CHICO\dlib-master\build\temp.win-amd64-3.6\Release\dlib_build\cuda_test_build`

[2018-02-12 08:44] iperov commented on #184
CUDA TEST: - cmakecache ??

[2018-02-12 10:41] dr-benway commented on #161
@Clorr it certainly does work on the CPU /python3.6

[2018-02-12 12:28] Arthil commented on #184
Hmm I'm also having this problem.

I reinstalled dlib using the methods above, and my dlib.DLIB_USE_CUDA returns true. My tensorflow also can detect the gpu, so that isn't the problem. Using python 3.5

So when I run the convert (-D hog), it doesn't use GPU at all. Or is the (-D cnn) only one using the gpu?

I tried running the -D cnn option but then the dlib fails with

Failed to convert image: R

[2018-02-12 12:41] iperov commented on #184
@Arthil are u using latest faceswap repo with serializer?

[2018-02-12 12:44] iperov commented on #184
@ZeroCool22 try latest dlib with

`python setup.py install --yes DLIB_USE_CUDA -G "Visual Studio 14 2015"`

[2018-02-12 12:55] yangwao opened #186 "r/deepfakes banned - new forum?"
This is not technical bug, but found society flaw. I really like this kind of evolution. Let's keep up great work!

![image](https://user-images.githubusercontent.com/5887929/36097687-418dc1b0-0ffc-11e8-948d-20e09e2c3fae.png)

[2018-02-12 13:41] iperov commented on #184
restart extract

[2018-02-12 14:01] salre9501 commented on #184
Ok so I did

import dlib
dlib.DLIB_USE_CUDA

and it says true. I create an alignments.json after pulling the update and extracting again. I tried converting and I get a little faster speed, but my GPU usage still zero (except for the vram). Now I'm getting 50 minutes for 5402 images so it was an improvement.

[2018-02-12 14:04] iperov commented on #184
@salre9501  5402 for 50 min ????? superior result. I have only ~3000 per hour.

[2018-02-12 14:20] salre9501 commented on #184
Ok I think I fixed it. Removing seamless -D cnn is giving me speeds of 5.5 it/s. Now the same 5400 images in 15 minutes

[2018-02-12 14:36] Clorr commented on #164
1. Installation problems are not issues.
2. They should go in https://github.com/deepfakes/faceswap-playground
3. There was 2 answers and no further activity in 3 days

[2018-02-12 14:37] #186 closed

[2018-02-12 14:41] #184 closed

[2018-02-12 15:36] ruah1984 commented on #170
solve, after update using the latest repo.

[2018-02-12 15:36] #170 closed

[2018-02-12 15:36] Clorr commented on #174
there is an option to activate the mmod_human_face_detector which is the same than FakeApp. It is not activated by default as it is slow. Add `-D cnn` to your command line

[2018-02-12 15:36] #174 closed

[2018-02-12 15:37] #168 closed

[2018-02-12 17:39] iperov commented on #86
https://www.deepfakes.club/deepfakes-with-amd-graphics-card/

[2018-02-12 17:47] Clorr opened #187 "Landmarks not matching with CNN/MMOD detector"
From: https://github.com/deepfakes/faceswap-playground/issues/43

Aligning faces does not work on some faces found with the `cnn` option. See below for the landmarks returned.

Can someone tell where the problem come from?

![frame10](https://user-images.githubusercontent.com/873943/36110904-9e5ff872-1024-11e8-8c03-eeb8e2c3b1c7.png)
![frame20](https://user-images.githubusercontent.com/873943/36110

[2018-02-12 18:07] fetchlister opened #188 "Rolling loss numbers?"
after an update I noticed that the loss numbers seem to change in real time and my loss numbers (which before took days) have declined in minutes! I've gone from 0.15 to 0.04 in just a few minutes. Should I be watching another metric? What does this mean?

in addition, the same command with -t GAN yielded a process where the loss numbers did not decrease for 2 days.

saved model weights loss_A: 0.

[2018-02-12 19:29] ByMark commented on #175
Solved at https://github.com/deepfakes/faceswap/issues/184

[2018-02-12 19:29] #175 closed

[2018-02-12 20:13] iperov commented on #187
![1](https://user-images.githubusercontent.com/8076202/36117312-92ed4bec-1052-11e8-8832-c860d2ab0fcb.gif)

need mp4 file ?

[2018-02-12 20:42] Clorr commented on #187
There is no picture zooming, it is the extract as it is done by the code just now with the source you can find on the [original issue](https://github.com/deepfakes/faceswap-playground/issues/43)

The qustion is to know why the landmarks are incorrect here, and also what we can do to correct this.

But as you say, there may be another problem which is that the face is framed too narrow. However, I

[2018-02-12 21:17] Clorr commented on #188
Note that the log that is printed does not make one line per iteration (as previously) but makes one new line when it saves your model.

Also please indicate number of iterations, and not a duration (the duration varies depending on how powerful your machine is)

[2018-02-12 21:20] Clorr commented on #188
Otherwise, the loss can decrease fast when you start training on a new person with an existing model, so be more precise in your request as it is hard here to understand what you did.

[2018-02-12 23:16] shadycuz commented on #86
Hey guys,

Thanks for coming back and posting these.

[2018-02-12 23:51] LordVulkan commented on #187
This is weird:

` return [pose_predictor(face_image, face_location) for face_location in face_locations]`

The shape predictor receives as an argument the face box. According to dlib examples, it tries to get the landmark points inside that box, not the full image.

`print("Detection {}: Left: {} Top: {} Right: {} Bottom: {}".format(
            k, d.left(), d.top(), d.right(), d.bottom()))

[2018-02-13 02:43] gessyoo commented on #70
I'd really like to try the 128x128 output size when the code is ready, but I've got an overclocked 1070 with 8 Gb rather than the 11 Gb on the 1080i that the code was made on.  I'm hoping that the script will run on a 1070 with some tweaking.

[2018-02-13 02:45] fetchlister commented on #188
Apologies. Its two minutes and thirty seconds between model saves (100 iterations) and I'm running on an Quadro M2200. I am not starting with an existing model.

[2018-02-13 03:28] ZeroCool22 commented on #184
@iperov
[code]

[2018-02-13 04:16] iperov commented on #187
so how to fix problems?

[2018-02-13 04:56] facepainter commented on #162
@Clorr  - hey :)

Yes - totally understand - was really just to show what I mean in terms of functionality rather than actual code that would be used - a general gist :)

* a big part of read logic that reads a video
sure, here cv2 reads video (or images as long as they are sequentially named and the same dimensions are the same (%04d.jpg - like the output of ffmpeg or whatever) - this can be brok

[2018-02-13 05:03] iperov commented on #187
fakeapp align without zoom glitches:

![1](https://user-images.githubusercontent.com/8076202/36134212-b51fa026-109c-11e8-95dc-0ba8ef6d05b0.gif)

[2018-02-13 06:18] christophered commented on #56
@fakeapp any updates regarding your project?

[2018-02-13 06:35] iperov commented on #187
may be use https://github.com/1adrianb/face-alignment as in fakeapp ?

[2018-02-13 07:26] ZeroCool22 opened #189 "Columns full white it's normal?"
![screenshot_12](https://user-images.githubusercontent.com/13344308/36137913-0b69719a-1076-11e8-9759-ec14d1f07892.png)

(Don't have much time of training yet).

[2018-02-13 07:30] Apollo122 commented on #189
That's alpha masks preview. It's supposed to look like that. So yeah normal.

[2018-02-13 07:50] iperov commented on #187
I think problem in landmarks detector, not face detector.
FaceSwap using ageitgey/face_recognition_models
fakeapp using 1adrianb/face-alignment

[2018-02-13 09:05] iperov commented on #162
cannot understand what differences versus existing recognition

[2018-02-13 09:12] iperov commented on #189
GAN creator told that is not normal.

https://github.com/shaoanlu/faceswap-GAN/issues/50

[2018-02-13 10:13] Apollo122 commented on #189
He asked about white images not dots. That column should look white.

[2018-02-13 10:25] #189 closed

[2018-02-13 10:34] Clorr commented on #187
Thank you @LordVulkan for the awesome report!

- I think it is intended, because if you give an image with many faces the landmarks detector would be lost I presume.
- From what you show, there is a slight difference between the box returned by hog and cnn, which I wasn't aware of. Maybe that explains also the "zooming" that @iperov reports?
- My first option would be to try to enlarge the box ret

[2018-02-13 10:56] LordVulkan commented on #187
I have tried with 1adrianb/face-alignment and it seems to get the right landmarks, but I don't know why it is horribly slow even with CUDA.

[2018-02-13 11:02] Clorr commented on #187
Have you an idea on the zooming effect noticed by @iperov ? Because the 1adrianb/face-alignment repo also uses [mmod detector](https://github.com/1adrianb/face-alignment/blob/fecdd1084df5d52246d26a9eb210e3404b4f6345/face_alignment/api.py#L75)

[2018-02-13 11:25] LordVulkan commented on #187
1adrianb also gets wrong the face box and for some reason it is a different box than the one in face_recognition. It also doesn't affect the landmarks.

Comparison of different face boxes:

Red: Extracted by face_recognition using cnn.
Green: Extracted by face-alignment using cnn.
White: Extracted with hog. Same result in both repos.

![image](https://user-images.githubusercontent.com/562386/36147

[2018-02-13 11:28] iperov commented on #187
yeah problem in face landmarks detector.

[2018-02-13 11:29] iperov commented on #187
face-alignment better, but cant build it for windows :((

[2018-02-13 11:42] Clorr commented on #187
Strange that the cnn detector returns a different box. Where did you get the values for the box? Also, there is a [preprocessing of the recognized face done in 1adrianb repo](https://github.com/1adrianb/face-alignment/blob/fecdd1084df5d52246d26a9eb210e3404b4f6345/face_alignment/api.py#L171):
[code]

However my skills are too low to understand what this does. Have you some idea?

[2018-02-13 11:56] LordVulkan commented on #187
The face_location object is the box itself, it is a 4-tuple: (top,right,left,bottom)
face-alignment seems to be centering and resizing the face box before calculating landmarks, I will take a look at it.

Comparison of face-alignment and face_recognition landmarks:

face_recognition landmarks with cnn face box:
![image](https://user-images.githubusercontent.com/562386/36148432-55a525d8-10bc-11e8-8

[2018-02-13 12:04] Clorr commented on #187
Yes, from what I understand it takes the center, but i don't understand the line with the 0.12. It moves the center a bit or something?

Then the scale is computed so that the box is 195 wide, doesn't it?

Then the [crop method](https://github.com/1adrianb/face-alignment/blob/fecdd1084df5d52246d26a9eb210e3404b4f6345/face_alignment/utils.py#L79) returns a 256 wide image, so maybe it adds some margi

[2018-02-13 12:08] flipflopbboi opened #190 "Failure to load existing training data"
Hello I was training ok on an ipython notebook but got an error message and the process hung (sadly i did not keep a copy of the error).
Now when I try to train again, I get the following error:

[code]

I have tried loading older models or a 'clean' model but the error persists.
Anby ideas? thanks

[2018-02-13 15:15] ZeroCool22 opened #191 "How use the PLUGINS, some help is weclome..."
![screenshot_13](https://user-images.githubusercontent.com/13344308/36156745-babac1fe-10b6-11e8-9456-e2721ba27265.png)

Let's say i use `python faceswap.py convert -i C:/faceswap/A -o C:/faceswap/A/merged -m C:/faceswap/models -t GAN -c GAN -D cnn`

How i can use **Convert_Adjust.py** on that command?

[2018-02-13 15:53] Clorr commented on #191
run python `faceswap.py convert -h` (works for `convert`, `train` and also `extract`) to get all possible values.

- -t will enable you to choose the model plugin (refered as `trainer`)
- -c will help you choose the convert plugin

[2018-02-13 15:53] #191 closed

[2018-02-13 16:17] LordVulkan commented on #187
I have just replaced the landmarks for the ones from face-alignment and it works a lot better, but it is also notably slower. I let it here if someone wants to try it, don't forget to import face_alignment

face_detect.py
[code]

[2018-02-13 16:21] iperov commented on #187
@LordVulkan thx, only need to build pytorch for me :D

[2018-02-13 16:43] LordVulkan commented on #187
Take a look at this:

https://github.com/peterjc123/pytorch-scripts

[2018-02-13 16:49] iperov commented on #187
i dont want deal with conda, trying to build from python...

[2018-02-13 18:35] Deadfishzzway opened #192 "CNN detector memory issue"
CNN detector
## Expected behavior

I used the cnn detector for extract, no issue , lots more faces were extracted. However when I use this detector while converting,I got lots of error message saying
 Reason: Error while calling cudaGetLastError() in file C:\Users\weichen\AppData\Local\Temp\pip-build-bevzw7aj\dlib\dlib\dnn\gpu_data.cpp:91. code: 2, reason: out of memory
And I get 0 face align\conv

[2018-02-13 19:55] iperov commented on #187
I suggest open 2DFAN-4.pth.tar in torch, research network structure and tensors, and port it to keras.
:D

[2018-02-13 21:05] LordVulkan commented on #187
@shaoanlu has added to his repo a new algorithm for face detection better than cnn.

https://github.com/shaoanlu/faceswap-GAN

Comparison gif:
![68747470733a2f2f7777772e64726f70626f782e636f6d2f732f64697a74786e746b737334647437762f6d61736b5f646c69625f6d74636e6e2e6769663f7261773d31](https://user-images.githubusercontent.com/562386/36173639-fc9d0b74-1109-11e8-9a5b-3fb799670767.gif)

[2018-02-13 21:20] iperov commented on #187
need test with 90deg rotated face

[2018-02-14 02:10] pablo-prieto commented on #192
What's the size of the image you're trying to convert?

[2018-02-14 02:39] Deadfishzzway commented on #192
1280*720 png
bit depth 24
each is around 1MB

[2018-02-14 03:05] Deadfishzzway commented on #192
So I tried using the cnn extract command first to generate the alignment.json file.
Then when I use the convert -D cnn command, it convert all the faces. with a line saying
Reading alignments from ***/test5/alignment.json before it started converting.

[2018-02-14 03:14] ppmdo commented on #187
@LordVulkan I can confirm the suggested code finds the correct landmarks. Indeed it's slower, but a lot more precise.

As a side note. I had to tu user an older version of PyTorch (0.3.0) because 0.3.1 requires CUDA with compute capability > 3.0.

[2018-02-14 06:41] iperov commented on #187
@LordVulkan thx for code
I found prebuilt win64 python 3.5 torch 0.3.0 package.
and tested your code
Its works slow because you reinitialize face_alignment every frame

my temporary fix is

[code]

[2018-02-14 07:49] iperov commented on #187
@LordVulkan , hmmm , no...
I got same zooming bug even with mmod+face_alignment from fakeapp.

[2018-02-14 08:04] iperov commented on #187
:(
![untitled-1](https://user-images.githubusercontent.com/8076202/36193385-17adf2e6-117f-11e8-9ea1-adbd84cd3ea6.gif)

[2018-02-14 08:45] fetchlister opened #193 "GAN plugin Stalls at losses independent of GPU"
I have migrated my faceswap onto a machine with better graphics capability from my mobile workstation because no matter how long I trained with the GAN plugin, my Loss_GA would not go below 17, and the preview window showed poor faces. I migrated from a GPU with 640 cuda cores to one with 3584, but to no avail. Still stuck at 17. Everything *runs* flawlessly, everything is installed properly and I

[2018-02-14 09:22] k3erg commented on #185
You can further reduce the VRAM needed by using `- t LowMem -s 16` and editing Model_LowMem.py as follows:

`13: ENCODER_DIM = 256`
and

`51: #x = self.conv(512)(x)`

Obviously, this comes at a price, but training even on my old MacBook Pro with Nvidia 750m*  is 60x as fast as on my new maxed-out MacBook Pro with no GPU support.

*yes you can compile tensorflow 1.4 with GPU support for macOS, pm i

[2018-02-14 09:35] k3erg commented on #161
Just for reference:
macOS High Sierra, custom built tensorflow 1.4 with GPU support, built against CUDA 9.1 and CuDNN works ok.
Going to take a shot at tensorfow 1.5 with GPU support later today.

[2018-02-14 09:39] k3erg commented on #144
Is there a way to adapt chroma/color in the trained model, or would you have to assimilate the color of the training data before training?

[2018-02-14 09:56] iperov commented on #187
that was my bad, flip_input must be False

now all fine !!

![untitled-1](https://user-images.githubusercontent.com/8076202/36197812-4f5febea-118e-11e8-859e-fe6250253fba.gif)

dlib cnn suxx, face_alignment pytorch cnn rules.

@Clorr @gdunstone will you adapt face_alignment to faceswap?

[2018-02-14 10:19] iperov commented on #187
@Clorr @gdunstone
**face_alignment pytorch cnn** VS **face_recognition dlib cnn**
![1](https://user-images.githubusercontent.com/8076202/36199118-0ba6be7a-1192-11e8-96d6-e564e33f4987.gif)

[2018-02-14 11:27] Deadfishzzway commented on #187
So much improvement! @iperov How do I make pytorch work for windows?

[2018-02-14 11:49] LordVulkan commented on #187
Maybe we could add face-alignment optional support for Linux and macOS users and leave pytorch out of the official requirements.

[2018-02-14 14:16] iperov commented on #187
@Deadfishzzway  I downloaded package from there https://anaconda.org/peterjc123/pytorch/files
and just copied lib to site-packages

[2018-02-14 14:58] #188 closed

[2018-02-14 15:34] Clorr commented on #187
It is totally possible to add face-alignment as an option, however something still bothers me.

From what has been seen, landmarks detection seems to fail because of a too narrow crop which can be solved by adding some margin to the image before passed to the detector.

The other issue mentioned by @iperov is that we have a zooming effect that is not in `face-alignment`. What bothers me here is th

[2018-02-14 15:35] Clorr commented on #193
Result not only depends on the power you have but on the training images you provide. Are they well aligned? How many iterations did you? What is your actual output? You should post these details to get help

[2018-02-14 15:36] Clorr commented on #193
And also I would better fit in faceswap-playground...

[2018-02-14 15:39] #120 closed

[2018-02-14 15:40] #126 closed

[2018-02-14 15:41] #127 closed

[2018-02-14 15:41] #134 closed

[2018-02-14 15:42] #137 closed

[2018-02-14 15:42] #142 closed

[2018-02-14 15:44] Clorr commented on #144
Please open this in faceswap-playground. Thanks

[2018-02-14 15:44] #144 closed

[2018-02-14 15:45] Clorr commented on #179
If you have not solved, open this faceswap-playground. Thanks

[2018-02-14 15:45] #179 closed

[2018-02-14 15:47] iperov commented on #187
@Clorr face detector same, but landmarks solver different

[2018-02-14 15:48] Clorr commented on #190
A failure in loading data should not stop the program. Try resetting the code to the original and check your modifications if you have done some

[2018-02-14 15:48] #190 closed

[2018-02-14 15:49] LordVulkan commented on #187
The zooming effect is also present in face-alignment as you can see here (I have no clue why it is a different box though):

https://github.com/deepfakes/faceswap/issues/187#issuecomment-365238963

I think face-alignment fixes it this way:

1. Gets face location box from the image with cnn algorithm.
2. Modifies center and size of the box.
3. Crops the face from the image using the new box.
4. Cal

[2018-02-14 15:52] Clorr commented on #187
That's what I think too, and it would be nice if we could include this "normalization" step in our code

[2018-02-14 15:53] Clorr commented on #176
Please reopen in faceswap-playground if still relevant

[2018-02-14 15:53] #176 closed

[2018-02-14 15:54] Clorr commented on #166
Please reopen in faceswap-playground if still relevant. Thanks

[2018-02-14 15:54] #166 closed

[2018-02-14 15:54] Clorr commented on #185
Please reopen in faceswap-playground if still relevant. Thanks

[2018-02-14 15:54] #185 closed

[2018-02-14 15:55] Clorr commented on #192
And does it work now?
Please reopen in faceswap-playground if still relevant. Thanks

[2018-02-14 15:55] #192 closed

[2018-02-14 16:05] Clorr commented on #159
@IUsedToBeAPygmy the coverage is a feature from the very original repo. I introduced a var in order to be able to have 2 different values because faceswap-GAN repo does not have the same value.

AFAIK the face coverage is the part that is warped and if you did apply the warping to the whole image, you would loose part of the image and then have problem with your training

Also having it bigger wou

[2018-02-14 16:05] #159 closed

[2018-02-14 16:06] Clorr commented on #156
Feel free to propose a PR when you have code to push

[2018-02-14 16:06] #156 closed

[2018-02-14 16:06] #158 closed

[2018-02-14 16:10] Clorr commented on #146
See #86 if that can help. Otherwise reopen an issue in faceswap-playground

[2018-02-14 16:10] #146 closed

[2018-02-14 16:15] Clorr commented on #157
`Convert_GAN` is made for the particular output of the GAN. If your work is based on the AutoEncoder, no need to go for this converter, you will have to stick to the over `Convert_` plugins and modify the sizes. Just modifying the line `face = cv2.resize(face, (64, 64))` to `face = cv2.resize(face, (128,128))` should make you started

[2018-02-14 16:15] #157 closed

[2018-02-14 16:16] #193 closed

[2018-02-14 17:47] Apollo122 commented on #161
win10, I've installed Cuda 9, CuDNN 7 and TensorFlow 1.5. compiled dlib with cuda 9 and used faceswap without a problem.
Then i thought i should get rid of cuda 8, uninstalled it but after it couldnt import dlib anymore. said couldnt find dll or something. installed cuda 8 again and it started work again. i read that they could co-exist together, so far no problems.

[2018-02-14 19:20] LordVulkan commented on #187
So, as it turned out the problem is the shape_predictor, maybe switching to face-alignment completely as it also supports hog would be a good idea.

[2018-02-14 19:32] KMMR156 commented on #187
@Clorr i think the zooming is because the wrong landmarks if you check the gif by @iperov

![11](https://user-images.githubusercontent.com/36402882/36223870-0cd10d26-11c6-11e8-8d8b-c73d94c414d0.gif)
![114](https://user-images.githubusercontent.com/36402882/36223879-12e8def0-11c6-11e8-8bad-034862ce5063.gif)
![120](https://user-images.githubusercontent.com/36402882/36223882-152f629c-11c6-11e8-90e0-8

[2018-02-14 19:47] Clorr commented on #187
@KMMR156 In the Extract_Align plugin, the final output is done with the help of the landmarks. And indeed, if the landmarks are wrong, the aligned output will be wrong.

[However, the landmarks are computed over the box returned by the face detector](https://github.com/deepfakes/faceswap/blob/51f1993d93e0ffb581d44416f327f0cf731c34e8/lib/faces_detect.py#L7) and it seems to me that the failure of fi

[2018-02-14 19:53] Clorr commented on #187
Also note that there is no dependency between face detector and landmarks detector outside the box delimiting the face, so if it works with hog and not with cnn, it means it is a problem of the box

[2018-02-14 20:14] iperov commented on #187
I checked problem picture directly in face_recognition/examples/find_facial_features_in_picture.py

result:

![tmpbaurvr6x](https://user-images.githubusercontent.com/8076202/36225783-37826f00-11e5-11e8-9035-d0ced1477e3d.jpg)

[2018-02-14 20:34] Clorr commented on #187
Yes, this is because the script you mention does not do a face_search before, and passes the full picture to the landmarks detector. That still adds to my conviction it is a problem of the box returned by the cnn detector

[2018-02-14 20:36] Apollo122 commented on #162
@iperov it takes a whole video with multiple filter images. so its useful to extract faces lets say from a movie.

@facepainter output images are too zoomed in. could you please check [this discussion](https://github.com/deepfakes/faceswap/issues/187#issuecomment-365511279) and if possible
implement face_alignment pytorch cnn.

[2018-02-14 21:59] Clorr commented on #187
So I played a bit with the box ;-) And it actually does not improve anything...

I could not reproduce [@LordVulkan second example](https://github.com/deepfakes/faceswap/issues/187#issuecomment-365103341). @LordVulkan could you call `shape_predictor` without the box argument? Because I couldn't...

Also [@iperov example](https://github.com/deepfakes/faceswap/issues/187#issuecomment-365731325) uses

[2018-02-14 22:01] IUsedToBeAPygmy commented on #159
@Clorr - seriously, check the code!

The coverage factor determines what "area" of the 256x256 image is assumed to contain the real face data to train on.

First a value of 220 was used for the coverage factor. Meaning, 220/256th of the image was used to train on.

Then the coverage factor was (re)set to 160 in your changelist, which takes only 160/256th of the image (taken from the center) as "re

[2018-02-14 22:11] Clorr commented on #159
No I did it intentionally following this issue: #96

If you want to add a CLI argument to give this var the value you want, feel free.

[2018-02-14 22:41] dfaker commented on #153
@subzerofun If you want to use Tensorboard it'd might make more sense to use it directly on a merged model.

    i1 = Input( shape=IMAGE_SHAPE )
    i2 = Input( shape=IMAGE_SHAPE )
    tbcallback = TensorBoard(log_path)
    mergedModel = Model( [x1,x2] decoder_A( encoder(x1) ), decoder_B( encoder(x2) ) )
    model.fit(x=[warped_A,warped_B], y=[target_A,target_B], callbacks=[tbcallback])

[2018-02-15 04:15] babilio opened #197 "Face on angles >180 degrees not recognized on extraction"
Hi guys thanks for the amazing work here!

I have been following the landmark detection dialogue  #187 and have tried both hog and cnn with both face-alignment and face_recognition. I got face-alignment with cnn working great, with pytorch on win10 now. However, I noticed that none of the above are able to reliably able to identify faces where the face is pointing downwards, for example with the f

[2018-02-15 04:17] fetchlister opened #198 "GAN plugin stalls losses at 17 percent regarless of GPU setup."
GAN plugin stalls losses at 17 percent regarless of GPU setup.

Would really like to use gan as I hear it gives better results, and my results from training have been spotty with the default trainer.

Tested on a m2200 (640 cores, 4gb ram) and then a p100 (3584 cores, 16gb ram)
Am using -t GAN in addition to normal training command, first two numbers fluctuate wildly, but the latter two seem to st

[2018-02-15 05:58] iperov commented on #187
`Also @iperov example uses hog AFAIK`

same result

[2018-02-15 08:27] kevers429 commented on #150
@kellurian For me when I tried this solution I had to dramatically drop my ENCODER_DIM number to not get an OOM error, is this expected?

[2018-02-15 10:45] dfaker commented on #198
The progress of GAN training should be a competition between generator and discriminator where they're both hovering around 50% accuracy, if either pull too far ahead the system fails, what you're describing here sounds like such a failure, probably due to too low a sample size.

[2018-02-15 13:39] kellurian commented on #150
Not for me. I did not have to change any of the values for it to work. Don’t know if it mattered but I had already upgraded ther version of tensorflow to 1.5 before starting this, but I have also now gone to CUDA 9 without problems as well. What two GPU’s are you running?

[2018-02-15 18:50] dfaker commented on #198
https://github.com/soumith/ganhacks

[2018-02-15 20:12] kevers429 commented on #150
@kellurian I'm running on two 970's with tensorflow 1.4 and CUDA 8. I'll try upgrading. Running on 1 gpu my encoderdim was 512 but on two its 64.

[2018-02-16 03:48] kevers429 commented on #150
seems like updating fixed it.

[2018-02-16 09:08] fetchlister commented on #198
thank you. I'll update my facesets @dfaker

[2018-02-16 10:15] hank-arus commented on #180
I had the same problem after I trained 36h (Model A 2000 pics, Model B 400 pics), 12h ago I added more Pics to Model A.  Luckily I backup the model files often.

[2018-02-16 12:04] kcimit commented on #187
Even with iperov fix hog detection is terribly slow not to mention cnn detection which was always very slow for me.
Detecting a face in single 1280x720 snapshot takes from 4-10 minutes. Is it normal? Perhaps problem with tf/cuda/pyhon config.

What time does it takes normally to process single picture in your case?

[2018-02-16 12:24] kylefrost commented on #161
@k3erg If you get 1.5 working with GPU on High Sierra, any chance you could type up a quick gist on how? I keep erroring after a few minutes, and can't figure out why.

[2018-02-16 12:34] iperov commented on #187
@kcimit actually this is LordVulkan fix for use face_alignment in faceswap.
pytorch must be installed with cuda support, then speed is normal, ~1.3 images per sec

[2018-02-16 13:05] #198 closed

[2018-02-16 13:07] dfaker commented on #180
So the output seems not to be ideal for the purpose of masking the face regions, and more samples seem to reduce the issue.

[2018-02-16 13:07] #180 closed

[2018-02-16 21:20] k3erg commented on #162
Took a shot and added an option (-ps 1.25) to FacePainters Gist to add padding around detected faces: https://gist.github.com/k3erg/a042265da4649e5a2b688f393db217a6

It basically scales the detected rect AFTER doing all detection stuff and reextracts the face with padding. It takes care of keeping the rect inside the movie frame as well. So, no changes in the behaviour just adaptable zoom.

[2018-02-16 21:57] kcimit commented on #187
thanks @iperov and @LordVulkan but I think I miss something. Tried every method here for pytorch including building it under win10 - still same performance.

[2018-02-16 22:53] leijurv opened #200 "Encoder weights stored twice in GAN model"
In the original model, encoder decoder_A and decoder_B have their weights stored separately.
https://github.com/deepfakes/faceswap/blob/master/lib/ModelAE.py#L24

[code]

In the new GAN model, weights are stored as a combination in two files, one with encoder and decoder_A, and another with the same encoder and decoder_B.

https://github.com/deepfakes/faceswap/blob/master/plugins/Model_GAN/Model.p

[2018-02-16 22:54] leijurv commented on #200
Is there a reason for this change? Since the encoder is the same between the two models, what is the purpose of storing it in two different places on disk?

[2018-02-16 23:52] Apollo122 commented on #187
I think CNN implementation can be improved. I use hd images for extract, if I use CNN with cuda support I get out of memory crash. If I use CNN without cuda it takes forever to complete.

There's a implementation here I think pretty efficient. It first downsizes the image by four then use CNN with cuda to detect face then upsizes the image again and use hog to extract face. It works good but becau

[2018-02-17 08:02] shaoanlu commented on #200
To prevent overwriting encoder weights of non-GAN models.

[2018-02-17 08:44] kcimit commented on #187
For the fix suggested by @iperov  and @LordVulkan I wonder whether we need at all use face_recognition.
face_alignment when calculating landmarks already establish face location box. The question that it is impossible to get without changing get_landmarks
Provided that it returns bounding rect, the code in faces_detect could be.
`def detect_faces(frame, model="hog"):
    #face_locations = face_rec

[2018-02-17 13:18] p0sera opened #201 "MyFakeApp"
Not an issue, but I am letting you know, that I created UI application for Windows x64. You can read about it here:
https://radek350.wordpress.com/2018/02/17/myfakeapp-fakeapp-alternative/
Let me know if it works or not. Thanks.

[2018-02-17 16:01] iperov commented on #201
wow interesting... i will check

[2018-02-17 16:04] flosth commented on #201
seems like a waste of time to create a significantly worse version of fakeapp for windows. fakeapp already runs on windows, why didn't you make one for mac?

[2018-02-17 16:05] iperov commented on #201
@flosth this is faceswap build, not FakeApp.org.
I suggest app name MyFaceSwap :)

[2018-02-17 16:07] p0sera commented on #201
I did this because the FakeApp didn't work for me @flosth. And I don't own a mac.

[2018-02-17 16:07] Apollo122 commented on #201
@flosth you are extremely rude.

[2018-02-17 16:11] flosth commented on #201
@p0sera it worked for me, but either way the UI should be better and it should be crossplatform if you're trying to improve on fakeapp.

@Apollo122 it's true though, for a second I was excited to see fakeapp going to more platforms but it's just a windows clone.

[2018-02-17 16:12] gdunstone commented on #201
@flosth I see you have no contributions.
Contributions lend credibility to your criticism.
If you want people to take you seriously, then I recommend you gain some credibility.

[2018-02-17 16:14] p0sera commented on #201
I did this app for myself. If you want an app for a Mac then create it and share it @flosth.

[2018-02-17 16:14] flosth commented on #201
@gdunstone i'm not a coder i just want to make deepfakes and i was hoping to see something new like fakeapp for mac. as it is this thing is just an uglier fakeapp. make one for mac and i will praise it.

[2018-02-17 16:15] p0sera commented on #201
Yeah it is uglier, but you can set more thing on it.

[2018-02-17 16:15] flosth commented on #201
@p0sera i can't create it because i don't know programming but if you do why don't you do it. we need a mac fakeapp, we don't need another windows fakeapp. this repo should be working on making new stuff not redoing stuff we already have.

[2018-02-17 16:16] p0sera commented on #201
I can't do it because I don't own a mac dude :D

[2018-02-17 16:17] flosth commented on #201
@p0sera seems like it has basically the same options just an extra "converter" option.

[2018-02-17 16:17] flosth commented on #201
@p0sera well get a VM and get to work. i want to see smart people improve deepfakes but wasting time on what we already have is not the way man.

[2018-02-17 16:19] p0sera commented on #201
Will you pay me @flosth ? I did this because the FakeApp v1 or v2 did not work on my PC. I have no motivation to create it for a Mac.

[2018-02-17 16:20] p0sera commented on #201
Maybe next time I will not share this with other people...

[2018-02-17 16:21] flosth commented on #201
@p0sera no i will not pay for a mac fakeapp because i didn't even pay for the windows fakeapp, that would be unfair. however i will say that it is good.

[2018-02-17 16:26] flosth commented on #201
@p0sera nobody's talking about preventing you from sharing it man, look its fine but the people need a mac version right now not another windows version. i cant use it on my mac and i have to use it on my weak windows laptop, if you code that i wont have to.

[2018-02-17 16:27] Alexander01998 commented on #201
@flosth FakeApp doesn't run on Macs because they don't have Nvidia GPUs and don't support CUDA.
The only way to make this work would be to build some kind of Hackintosh machine with an Nvidia graphics card in it - and at that point you might as well build a Windows computer.

[2018-02-17 16:28] flosth commented on #201
@Alexander01998 you guys are very smart im sure you could find a way. you and the fakeapp creator and people like @p0sera need to come together to build a mac version and you will make tons of money. i know you can do this.

[2018-02-17 16:33] Alexander01998 commented on #201
@p0sera Well, in theory one could re-write the entire thing to use OpenCL instead of CUDA, which could in theory run on a Mac. I have no idea how to do that though.

[2018-02-17 16:34] flosth commented on #201
@Alexander01998 well lets get started.

[2018-02-17 16:35] flosth opened #202 "Rewritten in OpenCL"
i am starting a project to make deepfakes available to mac users. we will need to rewrite in OpenCL. who is ready to get started and get this thing on mac!

[2018-02-17 16:36] flosth commented on #202
@Alexander01198 what do we do first?

[2018-02-17 16:38] flipflopbboi opened #203 "How to prevent model corruption due to remote server shtutdown"
Hello I am currenlty training on an iPython notebook running on a remote server. The server sometimes shuts down unexpectedly due to timeout or other reasons. Note that I load my training data to the remote machine's disk for speed, while the models are stored in my clould drive (mounted via FUSE).

This setup generally works OK and I can do re-training i.e. I can provide an exception to the `trai

[2018-02-17 16:47] flosth opened #204 "FaceApp Mobile Version"
also while we're working on getting this thing on mac, let's start on a phone version? i'm thinking something like FaceApp where we put it up on camera and it transforms the video.

[2018-02-17 16:52] Alexander01998 commented on #202
@flosth Like I said, I have absolutely no idea how to do that.

[2018-02-17 16:56] Alexander01998 commented on #204
You do realize that phones don't have nearly enough processing power to run something like this?

[2018-02-17 16:59] flosth commented on #204
@Alexander01998 then how does Faceapp do it

[2018-02-17 17:01] iperov commented on #201
@p0sera can you build same with face_alignment and pytorch ? from here https://github.com/deepfakes/faceswap/issues/187
bcuz default cnn sucks.

[2018-02-17 17:04] p0sera commented on #201
I will not have time for this now @iperov. But if I will be bored some weekend I will have a look at it.

[2018-02-17 17:06] p0sera commented on #201
But you can modify it yourself in Visual Studio solution and Advanced installer project if you want. The repo is here:
https://bitbucket.org/radeksissues/myfakeapp

[2018-02-17 17:07] Alexander01998 commented on #204
@flosth I don't know what FaceApp does, but FakeApp/FaceSwap has to train a neural network for every pair of faces that you want it to swap.

This process already takes many hours and sometimes more than a day on a high-end desktop computer. A phone would need weeks, maybe months, if it could even run the code in the first place. Not to mention that it would overheat and/or drain its battery after

[2018-02-17 17:09] flosth commented on #201
@p0sera no don't wait man, think of how much money you could make if you put it out for Mac. please start working on it, I will help

[2018-02-17 18:23] dover opened #205 "Failed building wheel for scikit-image, Failed building wheel for dlib"
----------------------------------------
  Failed building wheel for scikit-image
  Running setup.py clean for scikit-image
  Running setup.py bdist_wheel for dlib ... error
  Failed building wheel for dlib
  Running setup.py clean for dlib
  Running setup.py bdist_wheel for pyyaml ... done
  Stored in directory: C:\Users\User\AppData\Local\pip\Cache\wheels\2c\f7\79\13f3a12cd723892437c0cfbde1230ab

[2018-02-17 18:48] Alexander01998 commented on #205
I had the same issue. Switching to Python 3.5.4 (64 bit) fixed it.

[2018-02-17 19:00] kcimit commented on #205
For me installing dlib like this was resulting in no cuda support in dlib.
Try getting repo for dlib and build it from source.

[2018-02-17 19:05] Deadfishzzway commented on #197
I am pretty newbish with coding and will try anyway, I find this in extract.py

    def handleImage(self, filename):
        count = 0

        image = cv2.imread(filename)
        faces = self.get_faces(image)
        rvals = []
        for idx, face in faces:
            count = idx

            resized_image = self.extractor.extract(image, face, 256)
            output_file = get_folder(self.ou

[2018-02-17 19:10] dover opened #206 "OSError: [WinError 126] , ImportError: Could not find 'cudart64_90.dll'."
Model A Directory: E:\Users\User\Documents\GitHub\faceswap\data\trump
Model B Directory: E:\Users\User\Documents\GitHub\faceswap\data\cage
Training data directory: E:\Users\User\Documents\GitHub\faceswap\models
Loading data, this may take a while...
Loading Model from Model_Original plugin...
C:\Users\User\Envs\faceswap\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second

[2018-02-17 19:38] KMMR156 commented on #206
You need cuda 9.0

[2018-02-17 21:18] LordVulkan commented on #206
You can build TensorFlow for CUDA 9.1.

[2018-02-17 21:53] h1vem1nd85 commented on #204
Faceapp actually uploads your content to their servers to process against their model. There is no actual calculation done on your phones hardware

[2018-02-17 22:38] Tyrannosaurus1234 commented on #202
Nothing needs to be rewritten to use OpenCL, the deepfake scripts are platform-agnostic, you just need to use an OpenCL-capable build of Tensorflow. The dev/amd_gpu branch of Luke Iwanski's Tensorflow fork works.

[2018-02-17 22:39] flosth commented on #202
then get a mac version going

[2018-02-17 22:44] Tyrannosaurus1234 commented on #202
Do it yourself. Oh wait, you can't - you don't know anything about programming. Open-source projects are a game of give and take, no one is going to do things for you unless you put in some work yourself, actual work, not "management".

Regardless, you're barking up the wrong tree, OpenCL support is not a Faceswap issue, it's a Tensorflow issue.

[2018-02-17 22:45] flosth commented on #202
my work is coming up with the idea to post to mac, now it's time for others to help out

[2018-02-17 23:05] GSonderling opened #207 "train.py loop behavior"
I'm speaking about:
https://github.com/deepfakes/faceswap/blob/51f1993d93e0ffb581d44416f327f0cf731c34e8/scripts/train.py#L145-L173

As you know pressing enter sends stops the loop after current iteration. Unfortunately the method is rather inflexible:
https://github.com/deepfakes/faceswap/blob/51f1993d93e0ffb581d44416f327f0cf731c34e8/scripts/train.py#L121-L123

This can cause the thread to hang af

[2018-02-17 23:06] GSonderling commented on #202
@flosth Try to be little considerate, we are doing it in our free time, for fun, you know.

Anyway I don't think this is a place to ask for it and I don't think it is necessary. I would propose closing this issue.

[2018-02-18 00:44] subzerofun commented on #202
@flosth What are you waiting for? It already works on macOS. I'm training a model on 10.12 right now.

![grafik](https://user-images.githubusercontent.com/17863119/36346824-2c111be4-1447-11e8-8a35-93aa3389aaae.png)

Python, Keras + Tensorflow are cross-platform. I could write an UI for it in Swift – but why 😇 ?

- Follow the install instructions of the faceswap repo
- Compile/install an OpenCL Ten

[2018-02-18 01:07] gdunstone commented on #202
I am closing this because it's absurd.

[2018-02-18 01:07] #202 closed

[2018-02-18 01:09] gdunstone commented on #204
Closing because this is out of scope.

This repo is not a service. The developers are not going to donate gpu time.

[2018-02-18 01:09] #204 closed

[2018-02-18 06:02] dover commented on #206
@KMMR156 But https://developer.nvidia.com/cuda-toolkit download is CUDA 9.1，where to download CUDA 9.0?

[2018-02-18 06:46] subzerofun commented on #201
@flosth  **Why do you so desperately want a Mac version? And why exactly would it sell? Who would buy it? Even you've said yourself you wouldn't pay for it... Can you even discern between a macOS and iOS version?** After seeing the way you talk to people here i can't help but imagine a sixteen year old passive-aggressive teenager sitting in front of a greasy MacBook from 2012 with a CPU that takes

[2018-02-18 08:14] p0sera commented on #201
Guys can you help me, is it possible to use CNN on GPU? Is it possible with this repository? Will it be faster? What I know is that it is possible to use GPU for tensorflow package, but this package is not used for finding faces in an image.

[2018-02-18 08:22] gdunstone commented on #201
@p0sera You need to build dlib with Cuda support and use the cli option to use cnn.

[2018-02-18 08:23] p0sera commented on #201
@gdunstone thanks

[2018-02-18 08:51] deepfakesclub commented on #201
Thank you @p0sera, this looks fantastic.
Open source, updated algorithms and functionality, lightweight, putting your name behind it. Much respect.
I'll start testing this out and try to support you with publicity and documentation.

To the other users: Yes, the face alignment is still a bit of an ongoing issues, but it shouldn't be too hard to port over once the repo here resolves the issue. I, t

[2018-02-18 09:54] KMMR156 commented on #206
![capture](https://user-images.githubusercontent.com/36402882/36350544-0dd614ba-149a-11e8-9d77-dd76f3be3de0.PNG)
![capture2](https://user-images.githubusercontent.com/36402882/36350545-0fabe396-149a-11e8-87df-375a7d7728de.PNG)

https://developer.nvidia.com/cuda-90-download-archive

[2018-02-18 17:19] enniowatson opened #208 "Merging w/ multiple faces in frame"
Running into an issue when I try to convert. If there are multiple faces in the frame, Face B gets swapped onto all the faces. Face B also gets swapped onto solo faces in different shots that are not the target face. I'm coming from FakeApp, where any faces deleted from the /aligned folder are skipped during conversion. That doesn't appear to be the case here (though it does appear to skip those f

[2018-02-18 17:56] Apollo122 commented on #208
I raised this issue before but no changes yet. https://github.com/deepfakes/faceswap/pull/155#issuecomment-365079915
I proposed a utility function to check entries in json against data/A and delete the absent ones. But until it is implemented manual work is only way

[2018-02-18 17:58] #205 closed

[2018-02-18 17:59] dover commented on #206
@KMMR156 Thank you 👍

[2018-02-18 17:59] #206 closed

[2018-02-18 18:23] repu1sion opened #209 "doesn't work on 2GB GTX 960 even with LowMem model (what params could be reduced?)"
LowMem is different from the common model with 2 lines:
ENCODER_DIM = 512       # instead of 1024
#x = self.conv(1024)(x)       - commented out.

But it's still not enough to run under Ubuntu 16.04, cuda8, 1.7Gb of free video RAM.
It fails with OOM on any batch size, even with bs=1 and bs=2.

What about having some configurable params here? Like reducing filters numbers or ENCODER_DIM or smth else

[2018-02-19 17:47] fetchlister opened #210 "Expected results for GAN?"
I know gan is supposed to be smoother than the default trainer but there is little information about how to go about training with gan. I hear some places say it takes 8 times longer to train on gan than n the default trainer, is this true? what loss number should I shoot for in which of the 4 categories? How long can I expect to train on a good GPU (3584 cuda cores)?

Its all very confusing seein

[2018-02-19 18:09] carldgosselin opened #211 "Can I use this app to swap faces other than Nicolas Cage?"
Can I use this app to swap faces other than Nicolas Cage?  I tried to replace the pics in the input_A folder to another actor but it didn't work.  Does this only work on Nicolas Cage's pics?

[2018-02-19 20:30] qzmenko commented on #209
Try this Model_LowMem.py: https://pastebin.com/aiGGxyRs
And command for run:
`python3 faceswap.py train -A data/target_faces -B data/source_faces -m model -t LowMem -p -ag -bs 16`
Succesfully run on 2GB GTX 950.

[2018-02-19 21:34] rifterbater commented on #211
That's the magical thing about Nicolas Cage. His face is the only face computers can understand. We strongly suspect he is a perfect being from a future timeline where machines have taken over.

In all seriousness, there's more steps than just replacing the pictures. Did you do the extract and train steps from the readme?

[2018-02-20 00:23] carldgosselin commented on #211
I'm starting to believe that he is from the future, and maybe from another planet.  This is the only way I can explain my previous results.

But seriously, I actually did extract and train two different sets of pictures/people but nothing really happened during the `convert` stage - it only partially blurred the face in the target pictures.  I'll have to try again.

Here are the high-level steps I

[2018-02-20 01:39] andykdy commented on #211
how much time has passed between Step 6 and Step 7?
The network will work better the longer you train, we're looking at losses < 0.01 for decent looking results.
Otherwise you'll just get blurry images as the network is in the process of "learning" the encoder/decoder relationship :+1:

[2018-02-20 01:54] fetchlister commented on #211
Just an aside - @carldgosselin make sure you are putting the right faces in -A and -B. I made that mistake once or twice and took me awhile to figure out why the faces looked horrible.

[2018-02-20 01:57] andykdy commented on #210
I haven't seen the implementation of GANs in this project specifically, but designing a Generative Adversarial Network can be a pretty difficult task.
If you reward either the Discriminator or Generator incorrectly, it can have a snowball effect where one of the agent overpowers the other and the optimization of loss stagnates.
If I find the paper on it I will link it, but I remember it having to

[2018-02-20 13:23] carldgosselin commented on #211
Thanks for your comments everyone.  I think I need to train the network a little longer and make sure I have good quality pictures.

[2018-02-20 13:24] #211 closed

[2018-02-20 13:57] iperov commented on #210
there is bad implement of gan in faceswap :(
looks like v1 and without perceptual loss

[2018-02-20 15:58] DLSeed opened #212 "why the face swap area color different from original image?"
I had done data extraction, model training, and image convert followed the instruction, and finally the result like this:
![506463756](https://user-images.githubusercontent.com/28498769/36434250-9183f9fc-1699-11e8-800e-83d3e2ffb69b.jpg)

the face swap area color obviously different from original image, something i missed?

[2018-02-20 17:02] ppmdo commented on #197
I'm facing the same issue. Any ideas? I found out that if the image gets rotated so that the forehead is facing upwards, detection works. So maybe if no face gets detected, the script should try again after rotating the image.

[2018-02-20 17:16] babilio commented on #212
I think this could be low variety of lighting in your Nick cage pictures. It's important not only to get different angle but different lighting settings that way it is more adaptable to other skin tones

[2018-02-20 17:17] babilio commented on #212
I think this could be low variety of lighting in your Nick cage pictures. It's important not only to get different angle but different lighting settings that way it is more adaptable to other skin tones

[2018-02-20 17:32] LexCybermac commented on #201
@p0sera Perhaps not the best place to ask but is there a reason as to why my previews when training with the GAN model will fail to show up half the time?

https://i.imgur.com/51HcVZd.png

[2018-02-20 17:35] DLSeed commented on #212
oh, I generated this image just used the pre-trained model on 'README.md' , not my own. What i mean is  using pre-trained model and my own model occured the same problem.

[2018-02-20 17:42] DLSeed commented on #212
@babilio
oh, I generated this image just used the pre-trained model on 'README.md' , not my own. What i mean is using pre-trained model and my own model occured the same problem.

[2018-02-20 19:42] flipflopbboi opened #213 "check for duplicates in extract folder"
Hello all,
I have been having trouble with cloud servers shutting down unexpectedly so I edited the original `extract.py` to not overwrite if the image has already been processed in a previous run.

Note that I am currently assuming an `idx` of `0` (i.e. single face was found in photo, usually denoting successful face extraction - all extracted images with nonzero index have been failures from wha

[2018-02-20 20:13] fetchlister commented on #213
Just a heads up, https://cloud.google.com/free/ gives you 300 dollars of free credit. I built a quad core linux system to run facewap on and added a 3584 cuda core Tesla P100. Trained models on it like a charm and only ran out of the free 300 after about a week, plenty of time to train models on a P100. I pay for it now because its honestly a great price for that many Cuda cores and the storage an

[2018-02-20 20:15] fetchlister commented on #10
@IcyTv Thats just writing a 4 line bash script to run the existing tools....

[2018-02-20 20:35] flipflopbboi commented on #213
Hi, thanks for the suggestion! I am actually running on a google colab notebook which provides free access to a Tesla K80. Problem is you need a good internet connection to stay connected otherwise the notebook stops :/
I would be very interested in instruction on how to setup a vm on gcp!
Can you mount your cloud drive or how does it work with the image db?
I tried once to build a docker image bu

[2018-02-20 22:04] repu1sion commented on #209
Thanks! it works. Maybe this model should be accepted as LowMem then?

[2018-02-20 23:11] subzerofun commented on #161
@kylefrost  In case you haven't solved this yourself – this is a great tutorial:  [Tensorflow 1.4 Mac OS High Sierra 10.13 GPU Support](https://gist.github.com/smitshilu/53cf9ff0fd6cdb64cca69a7e2827ed0f)

Maybe it works for TF 1.5 too. Compiling TF on macOS since Google dropped official support can be quite time consuming ... Especially if you want to have the newest CUDA + cudnn versions. After a

[2018-02-20 23:48] ruah1984 commented on #70
If I want to change to 128x128pxl. In model ,which line I should change the parameters ?Only change the model.py?I mean not for GAN Model

[2018-02-20 23:53] ppmdo commented on #210
@iperov So you mean that V2:https://github.com/shaoanlu/faceswap-GAN/blob/master/FaceSwap_GAN_v2_train.ipynb should be integrated to this codebase?

[2018-02-21 00:35] facepainter commented on #162
@Clorr @k3erg @Apollo122

Just to note I added the extract align features by slightly porting the Umeyama algorithm from scikit and the DetectedFace class from here. Now the recognition rate is much higher and as long as landmarks can be detected then it spits out transformed/aligned faces as needed.

You can test in the gist.

Again hope to actually integrate this into a pull request here this we

[2018-02-21 02:25] DLSeed commented on #212
It's my environment issue actually, finally i clean & reclone project to test, and the result became right. thanks for all!

[2018-02-21 02:25] #212 closed

[2018-02-21 02:39] fetchlister commented on #213
I'm not sure what you mean by cloud drive but depending on the platform (windows/linux) you can transfer files dierectly. On google cloud instead of something like google drive, you have whats called a bucket. its essentially the same thing, you can upload and download files to your instance and your actual computer, its hard to describe but way handier than google drive. If I wanted to put images

[2018-02-21 02:57] shadowfolder commented on #209
@qzmenko лол, так что, заработало у тебя?) А я так и забил, не получилось( Тоже 2гб памяти

[2018-02-21 03:45] qzmenko commented on #209
I will create PR for it today

да, заработало. И результаты отличные :)

[2018-02-21 06:37] Apollo122 commented on #162
@facepainter Have you implemented pytorch face_alignment cnn? dlib's CNN is buggy. Check the referenced discussion

[2018-02-21 06:57] iperov commented on #210
@ppmdo yes, with perceptual loss :)

[2018-02-21 07:02] iperov commented on #162
@facepainter what is gist ?

[2018-02-21 10:28] Ianmcmill commented on #201
@p0sera from which state of faceswap did you create this?

[2018-02-21 18:08] 3xtr3m3d commented on #213
@flipflopbboi  after i saw your post, i tried google colab, took me a while to get familiar with the system but once i ran training on it, it immediatly start showing oom errors.  looks like gpu memory is capped for colab sessions?

pciBusID: 0000:00:04.0
totalMemory: 11.17GiB freeMemory: 503.62MiB

[2018-02-21 18:21] fetchlister opened #215 "Dark corners on face map"
For awhile now I have been training different models but every time one completes (at around 0.01x) and I convert/merge converted photos into a video I almost always have this sort of blackish grey points at three or four corners of the face map that really kills the realism, or the face is quite plainly square and overlaps even the widest faces. I cannot get anywhere near these professional looki

[2018-02-21 18:56] subzerofun commented on #162
@k3erg  **Thanks for the code!** Just tried your script to compare the results with @facepainter's original code. But for some reason it only scans the reference image directory (tried with one image and then with 20) and when it comes to extraction the script simply stops. Without an error – it just shows `Checking 274 of 1647 frames in 137 batches of 2` and then the progress in the next line. Af

[2018-02-21 20:22] flipflopbboi commented on #213
@3xtr3m3d This used to happen to me too, but if you restart your session (Runtime -> Restart Runtime..) and rerun your K80 memory is cleansed and you are allocated full 12 GB.

[2018-02-21 20:35] 3xtr3m3d commented on #213
@flipflopbboi Thanks, yes got 12GB after several attempts.  but now im not seeing loss values in the command output. also it looks like running because i see the message "saved model weights" appear in the output but it takes really really long time even with lowmem and batch size 32.   is there any tricks to run in colab?

[2018-02-21 21:22] room3dev commented on #212
This happens sometimes when enabling histogram match (color correction) in GAN version.

[2018-02-21 22:55] repu1sion commented on #209
насчёт результатов, за сутки обучения выглядит весьма фигово. лица размытые и бледные даже на превью. сколько приблизительно нужно времени обучать такую модель, чтобы можно было приемлемый faceswap для видео сделать?

[2018-02-22 00:48] flipflopbboi commented on #213
to see updates of losses, remove the `end=\r` in the `ModelAE.py` as per #116

[2018-02-22 02:04] flipflopbboi commented on #215
You should definitely adjust the convert parameters; `-b 8` seems to be working well.
Also, you can turn on the seamless option via `-S` which makes a big difference. However seamless, from what I ve seen, introduces more flickering and also takes a lot longer to process.

[2018-02-22 02:41] subzerofun commented on #70
@ruah1984  That depends on how complex you want the model to be and how much your GPU can handle memory wise. More features and higher ENCODER_DIM for the Encoder as well as more layers and features for the Decoder means better output quality. But more features translate to more variables that need to be stored = bigger memory footprint. From my tests i just saw that leaving the Decoder as it is n

[2018-02-22 04:51] 3xtr3m3d commented on #213
@flipflopbboi Thanks. that solved the issue. but seems it takes about 13 seconds for 1 iteration  :(

[2018-02-22 06:44] fetchlister commented on #215
thanks @flipflopbboi I'll give it a go.

[2018-02-22 07:48] 3xtr3m3d commented on #213
@flipflopbboi

`print("\r[{0}] [#{1:05d}] loss_A: {2:.5f}, loss_B: {3:.5f}".format(time.strftime("%H:%M:%S"), iter, loss_A, loss_B),end='')`

This solves the output issue. can see loss values without printing a line for every iteration

[2018-02-22 09:08] ruah1984 commented on #70
@subzerofun , i watch this in youtube https://github.com/alexjc/neural-enhance, and found the pxl can be improve, i not sure if the process is we go through model training to learn , and re-train again with neural enhance another time, but for sure pxl can be improve like how the movie maker doing right now. currently i after merge the face, i will use  Da vinci resolver 14 with the face refinemen

[2018-02-22 14:01] fetchlister commented on #215
@flipflopbboi Worked like a charm. most videos of people looking down/tilted sideways kinda make the face turn off until its in a more upright position. is that just me or are more, say, non head-on-ish frames not recognized?

[2018-02-22 22:13] dfaker commented on #65
@gdunstone  I strongly doubt that /u/deepfakes is going to reply or ever assert his moral right to be known as an author of parts of the original codebase for obvious reasons.

I'd be happy to assert that the masked merging is derivative of the code in /dfaker/df and as such should be under MPL-2.0 if that helps anyone line up behind a boring decision faster.

[2018-02-22 22:28] enniowatson commented on #208
Any idea why this hasn't been addressed? Seems like an easy fix, as other versions have this functionality. It's already tedious enough deleting unwanted frames from the /aligned folder. Having to then delete parts of the .json file is a hundred times more annoying, and can cause probably even more problems if you mess up the syntax.

[2018-02-23 02:19] potholiday commented on #201
@p0sera  Can I ask why bitbucket and not github? github has more users than bitbucke

[2018-02-23 06:52] petergerten commented on #210
this seems to be a good start: https://github.com/deepfakes/faceswap/pull/151
But it is missing the converter yet, and I could not get the converter running myself.

[2018-02-23 07:04] petergerten commented on #187
@kcimit do you have the above code with face_alignment-only working? Is there anything else required?

[2018-02-23 07:42] Apollo122 commented on #208
Because all of our programmers on strike :) no seriously they are all missing so either we wait for them or do it ourselves. I'm c#/Java guy so don't really know python.

[2018-02-23 07:48] ruah1984 commented on #208
You mean in UK right now, all University staff strike haha.

[2018-02-23 14:02] lactoseintolerant opened #219 "Basic usage question"
Sorry, I have a very basic usage question.

The training data is specified in img_dirA and img_dirB. I couldn't find the requirements for the images in these directories. Are these raw images of a certain size? Or should these be the 256x256 cropped and aligned faces such as from the faceswap github? What is the specification of the images in these directories?

[2018-02-23 14:20] Apollo122 commented on #219
Training images should be aligned and cropped. You can use extract script here to get alignment.json if you don't want to detect faces again on merge part.

[2018-02-23 14:21] Apollo122 commented on #219
Mind that if you delete a training image make sure that you delete its entry as well from the json. And yeah you have to do this manually for now

[2018-02-23 14:55] lactoseintolerant commented on #219
Thanks, damn I realized I posted in the wrong github. Meant for the GAN one. Whoops.

[2018-02-23 14:55] #219 closed

[2018-02-25 04:56] cojosao commented on #208
How difficult would it be to create a standalone script that would parse the alignments file and delete entries that don't have corresponding pictures in A/aligned? I'm no programmer but perhaps this would be a temporary fix until something can be incorporated into the main branch? I'm also in a similar spot since most of what I want to do involves two people in a scene.

[2018-02-25 16:48] dfaker commented on #65
#220

[2018-02-25 16:48] dfaker commented on #65
Pull request #220 Add GNU General Public License v3.0

[2018-02-25 17:26] oatssss commented on #208
Seems simple enough to do in Python, I'll try and do this today.

[2018-02-25 17:41] Apollo122 commented on #208
Great! Just mind that alignment file is not necessary to be a json file. I think there are couple supported extension. You can see them in script

[2018-02-26 06:39] Apollo122 commented on #208
Will try this. Can you make the default path for this to "./aligned"? Like in the original scripts? People are used to copy this folder to the folder that contains the photos that they want to convert.

[2018-02-26 07:00] kellurian commented on #201
@p0sera I tested your app with the addition of the multiGPU addition code I added to the Model_Original.Py file and it works great. You could add a plugin option for multi-GPU on your next version if you like. I think your app works great and is far less buggy than fakeapp.

[2018-02-26 11:58] Apollo122 opened #221 "[DISCUSSION] Would utilizing super-resolution improve the quality of generated faces?"
First check this out, original paper included. https://github.com/titu1994/Image-Super-Resolution

One of the big problems with faceswaping is close-ups because generated faces are 64x64 -if it's not gan128-. So how about we increase resolution of the generated faces by super-resolution? We would train super-resolution with the same training set and use it on generated faces to double or triple th

[2018-02-26 15:16] #215 closed

[2018-02-26 15:21] #209 closed

[2018-02-26 15:29] #200 closed

[2018-02-26 15:52] MrSKYone opened #223 "handleImage() takes 2 positional arguments but 3 were given"
I've been experiencing with this repo for almost two weeks now. I had no issue but recently faced some training model issues that I was thinking a repo update could fix by having the latest commits.
I did a git pull, then updated the dependencies using the new requirement file for python36.

Since then, using the extract method is not working properly.

here is what I get:

[code]

[2018-02-26 15:55] Clorr commented on #223
Thanks for the feedback, I merged a pull request today. I'm checking to correct that...

[2018-02-26 16:02] Clorr commented on #223
Should be done, can you try?

[2018-02-26 17:37] MrSKYone commented on #223
now I have this:

[code]

[2018-02-26 18:04] Clorr commented on #223
Sorry, I can't try the code right now, so I did this a bit blindly... Can you test again please?

[2018-02-26 19:58] kcimit commented on #187
Yes, I have it but it involves changing face_alignment

[2018-02-26 21:55] oatssss opened #224 "Align rotation of input faces for GAN conversions"
Currently, the extractor finds a rotation matrix for each face using umeyama so it can generate a faceset with all the faces mostly upright. Unfortunately this rotation matrix isn't stored in the alignments file, only the bbox (of the un-rotated face) and facial alignments. For the GAN model, when it comes time to convert, the faces aren't rotated upright before being fed through the model so I do

[2018-02-26 21:58] oatssss commented on #221
Maybe we can add an option to separate convert into 2 stages: swap and patch.
Swap will use the alignments to grab the face from the frame and swap it with the target.
Patch just puts the face back into the frame.
This would open up the possibility to perform any intermediate actions between the 2, like for example applying super resolution before patching.

[2018-02-26 22:20] Apollo122 commented on #221
In original scripts there is a script called init.py . What it does is just swapping the faces using the trained model, it doesn't do the merging. You put those swapped faces into aligned folder and run merge script. Merge reads from alignment file also.
I think you are suggesting the same thing. And yes if we do this we can augment generated faces before merge them back into original frames.

[2018-02-26 22:24] Apollo122 commented on #224
Definitely worth working on it. Have you checked shaonlu's merge? Maybe there are approaches that we can benefit

[2018-02-27 01:35] oatssss commented on #208
It's in already.

[2018-02-27 03:15] gotnull commented on #56
Link no longer available

https://www.reddit.com/r/deepfakes/comments/7oc018/simple_desktop_app_with_gui/?st=jc2nfd9h&sh=16d48ac8

[2018-02-27 04:56] iperov opened #225 "Porting face_alignment from PyTorch to Keras ..."
I made port main network, not all program yet.
2DFAN-4.h5 - 95mb
Output almost equal , average element-wise diff **3e-09**

Problem is only loading model takes **23.6sec**

predict times:
predict takes = 2.329133sec (first long)
predict takes = 0.074004sec
predict takes = 0.080004sec

model.summary() :

[code]

[2018-02-27 05:08] oatssss commented on #224
I realized that [`Convert_Masked.py`](https://github.com/deepfakes/faceswap/blob/819d10702a8253aec228b8083cdd0857f28e548d/plugins/Convert_Masked.py#L24) already does this, however, it just recalculates the rotation matrix with umeyama on the fly instead of serializing/deserializing in an alignments file.

[2018-02-27 06:16] ruah1984 commented on #221
How about neural enhance ?improve the resolution through neural network as well.

[2018-02-27 08:51] Apollo122 commented on #208
@cojosao  @enniowatson can you test this? Mind that you have to run extract script again to get the alignment file. Its format has been changed.

[2018-02-27 09:08] chengjunjiecn opened #226 "when I can stop the trainging?"
I start training, and screen showing like:
0.01676407 0.031689048

when I can stop training?

[2018-02-27 09:22] ruah1984 commented on #226
How's the preview ?

[2018-02-27 09:22] MrSKYone commented on #223
it works as expected now, thanks for the fix!

[2018-02-27 09:22] #223 closed

[2018-02-27 09:55] RunetX commented on #208
Sorry for bad English, I use translator.
It would be great if the program automatically divided similar faces into separate directories with its alignments.json file. In this case, it would be possible to replace individually any of the found faces

[2018-02-27 09:58] Apollo122 commented on #208
Don't think it would be reliable.

[2018-02-27 10:54] iperov commented on #225
I making one file FaceLandmarksExtractor.py
@Clorr is normally to include 95mb model file inside py and save it to os.getcwd() if not exists, and use it?

[2018-02-27 12:06] iperov commented on #187
almost ported face_alignment from PyTorch to Keras

[2018-02-27 13:12] RunetX commented on #208
I thought that the mechanisms of machine learning is sometimes used to split the dataset by category.
For example https://github.com/ankonzoid/artificio/tree/master/similar_images_AE

[2018-02-27 13:35] Apollo122 commented on #208
What I mean is face detector often gives wrong results. Maybe it can be used for initial results but you would have to go through each folder to remove false-positive and put wrongly recognized faces to appropriate folders.

[2018-02-27 13:35] RunetX commented on #2
MyFakeApp - GUI application for faceswap with open source https://radek350.wordpress.com/2018/02/17/myfakeapp-fakeapp-alternative/

[2018-02-27 13:48] Clorr commented on #225
Thanks for this initiative ;-)

I'll check how we can download the h5 model file automatically, maybe with something like `face-recognition-models`

[2018-02-27 13:52] RunetX commented on #208
1. We can use extractor same as usual. Then we have dataset of several faces (wrong detections).
A1, B1, A2, A3, A4, B4, A5, B5, A6, A7, C7
2. To run similar images app with this dataset we get several sets with different faces
[A1, A2, A3, A4, A5, A6, A7], [B1, B4, B5], [C7]
3. Generate alignments.json for sets
4. Run train or extract with any set separately
5. Profit

[2018-02-27 13:59] iperov commented on #225
@Clorr nevermind about models, they can be in lib\FaceLandmarksExtractor\ dir inside this repo

super problem !
When Keras model loaded, I cannot use dlib_cnn_face_detector

[code]

[2018-02-27 14:36] Clorr commented on #208
@RunetX It is always possible to have a utility to parse extracted photos and group them by similarity, but as @Apollo122 said it won't be perfect. But please open a new issue to discuss about it, as it is a different subject from the original issue

[2018-02-27 14:43] RunetX commented on #208
@Clorr execuse me, I don't understand English very well.

[2018-02-27 17:17] iperov commented on #225
but fixed :)

also Keras implement x1.5 - x2 times faster aligning

[2018-02-27 17:18] Apollo122 commented on #225
Awesome! Tag me for testing when it's done

[2018-02-27 17:41] iperov commented on #225
![cmd_2018-02-27_21-39-22](https://user-images.githubusercontent.com/8076202/36744705-eec640da-1c06-11e8-877d-0356a2492e6f.png)

[2018-02-27 17:53] Apollo122 commented on #225
Be sure that you merge with @oatssss changes. He changed the format of alignment file. https://github.com/deepfakes/faceswap/issues/208#issuecomment-368715218

[2018-02-27 17:56] Apollo122 commented on #208
@oatssss I checked the code. It seems default value is still none

[2018-02-27 18:19] oatssss commented on #208
@Apollo122 do you have this commit? https://github.com/oatssss/faceswap/commit/b4dc203e4c9f1f019666e4b447bc1be97d7df0c8

[2018-02-27 18:20] Apollo122 commented on #225
He added a feature. If user deletes a false-positive face, it's entry alignment.json gets skipped during convert. For it to work he did some changes which will be merged with master soon

[2018-02-27 18:25] Apollo122 commented on #208
Aah okay I was looking at the cl parameters

[2018-02-27 18:26] Apollo122 commented on #225
Maybe it doesn't conflict with your work but it's better to check.

[2018-02-27 18:29] oatssss commented on #221
The way I understood it is the super resolution will produce 2x bigger image, but then that image will just be rescaled down back to the original size. The end result is an image of the same size, just better image quality.

I thought neural enhance and super resolution are the same thing.

[2018-02-27 18:35] Apollo122 commented on #221
Yes that would improve the quality but if we scale it down again wouldn't the quality of close-ups remain the same? Which is terrible :)

[2018-02-27 18:39] oatssss commented on #208
Yea I didn't know of a way to set the default value of an option to a value based on another option.

[2018-02-27 18:44] oatssss commented on #221
The original image would be the enlarged face that's blurry. SR will scale it up to improve the quality, then scale it back down to the original size (which is still relatively large).

[2018-02-27 19:13] Apollo122 commented on #221
Might be. Only problem with that is vram: max batch size I can do with gan128 is 20 so for gan256 it would be 10 :) I guess we can try it when current gan in our repo works same as well as the convert script. But as i said because of the vram SR might be faster.

[2018-02-27 19:15] oatssss commented on #221
I haven't tried to train an SR model, what if it requires the same amount of vram! :P

[2018-02-27 19:24] Apollo122 commented on #221
The readme in the git page I shared says something about 4gb 980m. Only extremely high resolution pictures might be problem its written, such as 6000x6000 so I think we are clear :) haven't read the whole thing but it our 256x256 might be used as training images for it also

[2018-02-27 23:26] babilio commented on #224
I think serializing it would help implement things like #221 more easily, right? But either option would be great right now because I don't find GAN very useful at the moment because of this problem.

Thank you for all the work you have been doing!

[2018-02-28 06:47] iperov commented on #225
@Apollo122 welcome to test https://github.com/deepfakes/faceswap/pull/228

[2018-02-28 13:28] #65 closed

[2018-02-28 17:59] Apollo122 commented on #226
usually below 0.08 is good enough. so if you like the preview so can stop the training.

[2018-02-28 21:00] oatssss commented on #226
@Apollo122 those loss values look more like the non-GAN model. @chengjunjiecn you can convert with just a few images to see what it's like. If you're not happy, keep training!

[2018-03-01 03:21] ppmdo commented on #224
@oatssss, Yes I've had bad results with rotated faces. I think this deserves attention.

When I read #197, I thought that if the Extract.py script didn't find a face (odd angles), the script could rotate the images (90°) rewrite them to disk, re-try and then store the rotation info in rotation.json or so. Bruteforce, basically.

Then, when converting, the process would have to invert the rotation

[2018-03-01 04:44] xthan opened #229 "Why we need two datasets and two autoencoders?"
Hi,

I do not understand why we need two folders containing faces of two people to train the faceswap model. Since the loss is simply a reconstruction error between a warped face and an unwarped face of the same person:
https://github.com/deepfakes/faceswap/blob/6bea4c2b276f105624e18793082734f31c683743/lib/ModelAE.py#L61-L62

I think we can train one encoder + one decoder (one autoencoder) for a p

[2018-03-01 04:56] oatssss commented on #224
@ppmdo can you see if you get better results with https://github.com/deepfakes/faceswap/pull/217/commits/236112afbc6bb65b0b43e25be37e3308c4f2fd35

[2018-03-01 05:52] GokulEpiphany commented on #229
Your model would work well if the input had only one face. Won't the single autoencoder swap out all the faces in the input if it had more than one face?

[2018-03-01 06:29] iperov commented on #229
actually there is ONE Encoder training on two decoders.

[code]

[2018-03-01 07:32] deepfakesclub commented on #187
In my own testing, I found that face_recognition outperforms face-alignment (pytorch version) for speed, sensitivity, and errors in everything BUT the zooming stability issue. In particular, for dynamic scenes with complex backgrounds and lots of motion, face-alignment has a much higher error rate and also misses more faces. However, in "easy" scenes, face-alignment is probably better because of t

[2018-03-01 08:01] nigh8w0lf commented on #150
@kellurian or anyone who has this implemented,  Could you please advise which files need to be changed to implement training with multiple gpu's
Do I need to make changes to the training script or does this change need to be made in keras?
Thanks!

[2018-03-01 11:13] Clorr commented on #229
@xthan I don't know if there is a strong theory behind the faceswap here. Here are some links about it:
- https://github.com/shaoanlu/faceswap-GAN/issues/26
- https://github.com/deepfakes/faceswap/issues/73

As @iperov said, we train a common encoder and 2 decoders (and we don't use the FaceA decoder when swapping FaceA to FaceB).

The purpose of that is to have an encoder that outputs good featur

[2018-03-01 11:14] Clorr commented on #229
I close this as it should be opened in https://github.com/deepfakes/faceswap-model

[2018-03-01 11:14] #229 closed

[2018-03-01 11:14] Clorr commented on #221
I'm closing this as we should discuss it more in https://github.com/deepfakes/faceswap-model

[2018-03-01 11:14] #221 closed

[2018-03-01 11:14] #226 closed

[2018-03-01 11:15] #210 closed

[2018-03-01 11:16] Clorr commented on #207
I close this as your PR is already sufficient ;-)

[2018-03-01 11:16] #207 closed

[2018-03-01 11:17] Clorr commented on #203
@flipflopbboi is #227 ok to solve this? Please add your review there, and continue discussion there...

[2018-03-01 11:17] #203 closed

[2018-03-01 11:19] #161 closed

[2018-03-01 11:20] Clorr commented on #225
Closing this as it is merged

[2018-03-01 11:20] #225 closed

[2018-03-01 11:20] #48 closed

[2018-03-01 11:20] #2 closed

[2018-03-01 11:21] #10 closed

[2018-03-01 11:21] #56 closed

[2018-03-01 11:21] #66 closed

[2018-03-01 11:23] Clorr commented on #187
Closing this as #228 adresses this. Feel free to open new issue if there are still problems

[2018-03-01 11:23] #187 closed

[2018-03-01 11:30] Apollo122 commented on #221
I'll reopen there when gan stuff is finished.

[2018-03-01 15:44] kellurian commented on #150
I just modified the model_original.py file as above and it works fine for me. The only issue I have had is that you can’t turn on the “allow growth” option which seems to bigger out and error when it’s enabled. Otherwise it seems to run on both cards equally and take up both vram per resource monitor

Sent from my iPhone

[2018-03-01 16:15] Clorr commented on #150
@kellurian can you di a PR of that? it would be even more useful to users...

[2018-03-01 17:21] kellurian commented on #150
Yeah I will try. I am quite new to this github thing but I’ll work on it tonight

Sean

Sent from my iPhone

[2018-03-01 17:36] Clorr commented on #150
Bah on github, you can directly edit the file, it will make a PR

[2018-03-01 18:51] Aardwolf2018 opened #232 "Extract with multiple processes fails"
## Expected behavior

`python faceswap.py extract -i srcFolder -o outputFolder -D cnn -j 4`

This command should start and use 4 threads/processes

## Actual behavior

[code]

## Steps to reproduce

Just try to run the command mentioned on top in the plain windows command line.
For me nothing changed by using a different detector (HOG)

## Other relevant information

- **Operating system and versi

[2018-03-01 18:53] modelsex opened #233 "Some faces with one eye hair covered can't be recognized"
*First THANKS A LOT for all contributors' hard work!
*Always make a compare test after big change, test with same source 1000 pics (kar801 -> kar1800) , compare with FakeApp1.1 & latest faceswap commit 232d931.
*Test files (this is porn, sorry~) :  https://drive.google.com/open?id=1DKP0Uci97FfriuKcYEbDT2Qp6rKN1h1g

## Expected behavior
Not sure, limitation ? or possible to improve ?

## Actual beh

[2018-03-01 20:08] 3xtr3m3d opened #234 "out of memory when extract after today update"
I have extracted faces from 2000+ images after today update and it went great. then i tried to extract another set of 100 images and program failing saying

` Reason: Error while calling cudaMalloc(&data, n) in file D:\FAPP\dlib-master\dlib\dnn\cuda_data_ptr.cpp:28. code: 2, reason: out of memory`

(images are same size)

any idea why this happening?

[2018-03-01 20:51] DLSauron commented on #234
I am seeing the same on a few of my image sets. I ran an extract on 200 images last night with cnn and when I tried to run those same images today to test the new extractor it gave the OOM error. I assume this is because the new extractor is using more video memory.

[2018-03-01 20:54] 3xtr3m3d commented on #234
also while face_alignment extract 131 faces out of 133 images. new extractor extract 106 faces.

[2018-03-01 21:28] oatssss commented on #234
does `hog` still work for you?

[2018-03-01 21:39] 3xtr3m3d commented on #234
yes hog works also face_alignment from pytorch also work

[2018-03-01 21:45] DLSauron commented on #234
Yes hog works. I wonder if it would be worth while to see if instead of just erroring out when getting a OOM error with cnn to switch over to hog for that file just like now how if it does not find a face with cnn it tries with hog.

[2018-03-01 21:48] oatssss commented on #233
From what commit did you do the extraction from?

[2018-03-01 21:54] oatssss commented on #234
@DLSauron The OOM is an all or nothing thing I believe. Have you been able to extract part-way through and then an OOM occurs?

@3xtr3m3d I don't understand, isn't the face-alignment port from pytorch the "today's update" that you're referring to? For what extractor are you getting an OOM?

[2018-03-01 22:09] DLSauron commented on #234
Yes it appears to depend on the resolution of the image as you can see below it was able to get though 5 images but when it one that was 857 x 1280 and errored out. Funny thing is I had already resized that image yesterday because the original was to big for the original cnn extractor (2678 x 4000).

Fun fact file size does not appear to matter to cnn only resolution. The original one was 580 KB,

[2018-03-01 22:14] nigh8w0lf commented on #150
@kellurian Cheers! I was slightly confused, as you said that you changed "model.original file" earlier but figured that you may have meant model_original.
Also, I can confirm that it works.
I can test the modified file on a single gpu device and will let you know if it works or not.

[2018-03-01 22:18] kellurian commented on #150
Yeah sorry. I am a complete neophyte at this. And I am about to leave for a conference. When I get to the hotel I will look over things on my laptop and try to make it clearer. Sorry.

Sent from my iPhone

[2018-03-01 22:38] babilio commented on #234
@oatssss the face-alignment from today is from the port to Keras I believe, no longer pytorch.

[2018-03-01 23:28] torzdf commented on #232
Again, this is an issue I hit when running the pytorch version of face-alignment. Either upstream doesn't support multi-processing, or some code needs to change here to better support it. Either way, it seems to hit my GPU pretty hard when extracting (GTX 1080) , so if you're going down the GPU route, it probably isn't necessary to increase the cores.

[2018-03-01 23:29] oatssss commented on #234
@DLSauron ah I assumed you were converting images all of the same size. Yea I think this is just a limitation of the library. If you weren't having problems with face_recognition (not the new face-alignment) maybe we can have all 3 (hog, face_recognition, and face-alignment) available as options. Did face_recognition's cnn work well for you? Last I remember, it was extremely slow for me.

We can a

[2018-03-01 23:33] Apollo122 commented on #234
I think scaling down first then extracting and cropping the face from original image is the ideal solution. Just be careful about cropping the face from scaled down version. Final image would not be quality

[2018-03-01 23:40] torzdf commented on #224
@ppmdo

I currently have a batch script which does exactly this, and I can say that it significantly slows down the process (mainly due to disk reads and writes). On the plus side, I see a huge improvement on the number of faces picked up. I am currently looking at a way to implement something similar within the code, to avoid the disk IO issue, but I need to try to push some usability fixes first

[2018-03-01 23:50] DLSauron commented on #234
I did not really have any problems with the face_recognition, at least not that I noticed. Both face_recognition and face-alignment appear to run at the same speed for me, but that may be a limitation of my hardware (GTX 980).

I just figured if it was possible to make if it did not find an image with cnn that would try hog then it would also be possible that if cnn errored out to try with hog and

[2018-03-02 00:07] modelsex commented on #233
Latest commit 232d931

[2018-03-02 00:25] ppmdo commented on #224
@torzdf If we rotate the images in-memory (or use file-like memory storage) we could avoid the IO overhead, and only write to disk when the extractor finds a face. There will definitively be a performance git anyway, but memory is much more efficient. There's the [PIL](http://pillow.readthedocs.io/en/latest/reference/Image.html#PIL.Image.Image.rotate) library which can manipulate images in various

[2018-03-02 01:19] torzdf commented on #224
Oh, I can definitely do it in python using memory only, but I want to see if we can rotate the image, get the landmarks at extract and then transform the landmarks for applying at the convert stage, as this will definitely be quicker for the convert at least. If I don't get anywhere though, I will just look at rotating again at convert, but I don't want to go down that avenue until I have explored

[2018-03-02 01:40] babilio commented on #234
@iperov  @oatssss I tried extracting extract the same set of images on the face-alignment on pytorch and the face-alignment on keras. It seems that keras implementation is much more demanding on GPU memory. I have 7,000 images of 480, 720, 1080 resolution. Pytorch went through all of them fine, keras went through 800 images of 480 resolution and threw error

Reason: Error while calling cudaMalloc(

[2018-03-02 01:46] iperov commented on #234
@babilio
Actually this is dlib OOM. DLIB conflicts with Keras in memory usage.

What picture size of your first image of sequence in a folder ?
For test, try set first image of sequence 1080p size and report here.

[2018-03-02 01:51] babilio commented on #224
Another possibility is maybe using this #214 so after a full pass through the directory it would allow to rotate and go through it again, skipping the ones that were already found. Maybe is less efficient vs doing it when the img is already in memory

[2018-03-02 02:00] nigh8w0lf commented on #150
Naah All good mate, It's pretty clear now.

By the way I have tested with the changed model_original.py file on a single gpu machine and it came up with the below:

ValueError: To call `multi_gpu_model` with `gpus=2`, we expect the following devices to be available: ['/cpu:0', '/gpu:0', '/gpu:1']. However this machine only has: ['/cpu:0', '/gpu:0']. Try reducing `gpus`.

I think model_multigpu fil

[2018-03-02 02:46] babilio commented on #234
@iperov the picture I had in the folder first was 480p size.

I did what you asked and put the 1080p pics first and it went through all 1,000, and moved on to the 720p without any issue. So the problem does seem to be when it starts with low resolution and switches to higher.

[2018-03-02 03:19] iperov commented on #234
@DLSauron

1080p picture eats ~3.5GB videoram by dlib cnn BEFORE keras loading
anyway large pictures cannot be handled by dlib cnn.

[2018-03-02 04:18] DLSauron commented on #234
I can confirm that after I created a pure white JPG with the dimensions of 1280 x 1280 and named it 0.jpg it was able to process the entire folder

[2018-03-02 04:31] iperov commented on #234
working on fix

[2018-03-02 04:46] 3xtr3m3d commented on #234
@DLSauron

i tired this and it processed my folder with 100 images which it couldn't process before

[2018-03-02 04:55] 3xtr3m3d commented on #234
@oatssss

face_alignment i was refering to is the original one from pytorch which i integrate to code as describe in the comment of  LordVulkan  on issue [https://github.com/deepfakes/faceswap/issues/187](url)

that able to process the folder but ported version did not.

[2018-03-02 04:55] iperov commented on #234
I made scale image for cnns with `max_res_side` param. This scaling affects only input image to cnns. Output points scaling back to original size.

Also I do first call `dlib_cnn_face_detector  ` with `max_res_side x max_res_side x 3` then dlib consume all necessary vram for work.

[code]

I have ~ 5.53Gb free before program start
and with param
`max_res_side=1850`
I got
`totalMemory: 6.00GiB free

[2018-03-02 04:57] kellurian commented on #150
I think that would be the way to go as well, such as a plug-in option like the low mem or gan and selectable at the command line?

Sent from my iPhone

[2018-03-02 05:10] iperov commented on #234
sry bad english, I try to explain.
[code]
because Torch frees vram after call.
But TensorFlow doesnt free, and consumes all possible vram for caching, therefore TF x2 faster than Torch.

Problem is DLIB and TF competiting for VRAM. Difference is TF can work with super low mem, but eats all freed mem again.

For example
If call TF first, it consumes all ram, and then call dlib - there is no ram for

[2018-03-02 05:13] 3xtr3m3d commented on #234
@iperov  Great.. Thanks for the explanation.

[2018-03-02 06:31] deepfakesclub commented on #234
I think in the other thread some mentioned having a plugin to choose face-alignment or face_recognition... I would recommend that route as face_recognition has some advantages in edge case scenarios.

[2018-03-02 08:02] 3xtr3m3d commented on #234
@iperov  since problem is tensorflow allocationg all the vram. i tried by limiting tensorflow memory. now i don't see the oom error but it looks like gpu is using only 2.4Gig of 4Gig.  maybe problem can be resolve this way? im not familiar with tensorflow keras etc..

the thing i tried is set the memory limit before import keras

FaceLandmarksExtractor.py

`import tensorflow as tf
from keras.backe

[2018-03-02 08:04] iperov commented on #234
@3xtr3m3d what about performance with reduced memory ?

[2018-03-02 08:06] iperov commented on #234
and I dont like to control tf session inside child lib. FaceSwap architecture crap already :D

[2018-03-02 08:07] 3xtr3m3d commented on #234
@iperov

https://imgur.com/mN4RD1x

[2018-03-02 08:11] iperov commented on #234
PR fix https://github.com/deepfakes/faceswap/pull/235

[2018-03-02 08:19] oatssss commented on #224
I'm closing this because for now it's solved in https://github.com/deepfakes/faceswap/pull/217

[2018-03-02 08:19] #224 closed

[2018-03-02 09:25] ruah1984 commented on #70
https://github.com/deepfakes/faceswap/issues/221

[2018-03-02 09:28] ruah1984 commented on #70
@oatssss have complete GAN128, i will close this issue here. will open back if we want "high resolution" image again in future.

[2018-03-02 09:28] #70 closed

[2018-03-02 11:47] #234 closed

[2018-03-02 13:16] iperov commented on #233
this is `dlib cnn` issue
anybody know how to decompile fakeapp v1.1?

[2018-03-02 13:21] iperov commented on #232
I suppose multiprocess work only with CPU version of dlib and tf.
in GPU version there is nothing to be "multiprocessed", because dlib and tf eats all vram.

[2018-03-02 15:26] Kirin-kun commented on #233
There's a program "a.exe" in the alignement subdirectory of FakeApp 1.1

C:\FakeApp\alignment>a.exe -h
RuntimeError: module compiled against API version 0xc but this version of numpy
is 0xb
usage: a.exe [-h] [--one-face] [--all-faces] [--startFrame STARTFRAME]
             [--maxFrames MAXFRAMES] [--fileType FILETYPE]
             [--processor PROCESSOR]
             input_dir [output_dir] [output

[2018-03-02 15:41] Kirin-kun commented on #201
FakeApp is better at detecting faces than faceswap is. It detects more faces than the HOG here. Cnn is almost as good, but is plagued by zoomed faces and wrong landmarks.

Unfortunately, the alignment files are not compatible, so one can't use both applications.

[2018-03-02 16:07] iperov commented on #201
`Cnn is almost as good, but is plagued by zoomed faces and wrong landmarks.`
your information is outdated.
Check last commits.

[2018-03-02 17:36] iperov commented on #233
unpy2exe not works with a.exe

[2018-03-02 17:38] iperov commented on #233
kar1086.png - just minimal program with `dlib.cnn_face_detection_model_v1` doesnt detect any face rectangles

[2018-03-02 18:11] deepfakesclub opened #237 "Latest commit extraction fails: Expected numpy.ndarray of uint8"
The commit before with the memory issue extracts other than memory issues on lower end GPUs. (I guess 2GB cards will not work anymore for extractions, even with the memory fix?)

I tested the newest commit with the memory fix and I get the above error thrown by the extraction error handler. I tested jpg, png, 2 sets of hardware with 2 different conda environments. I verified the commit before, and

[2018-03-02 20:14] iperov commented on #233
face_recognition also find nothing
[code]
FakeApp has DLIB version 19.8.1N, but I cannot install this version on Windows and check.

[2018-03-02 20:15] Kirin-kun commented on #233
I tested various scenarios by dumping 696 pictures in a directory, with lots of different angles and faces of different people and I tried all 3 face detectors.

FakeApp (1.1 and 2.2) both detected 645 faces (including the false positives). Most of them good, very few of them a misdection.

faceswap HOG detected only 370 (including the false positive)! Obviously, HOG is only able to detect faces w

[2018-03-02 20:29] Apollo122 commented on #233
@Kirin-kun could you try using this https://github.com/1adrianb/face-alignment

[2018-03-02 20:37] iperov commented on #233
@Kirin-kun
`faceswapp cnn seems to not be able to detect faces`
and again, this is not faceswap cnn. This is DLIB CNN, which 100% same at fakeapp, faceswap, face_recognition, face_alignment.

[2018-03-02 20:42] iperov commented on #233
mmod_human_face_detector.dat - is base for dlib cnn 100% identical

[2018-03-02 20:54] Kirin-kun commented on #233
@iperov I successfully decompiled the a.exe from FakeApp 1.1.

Using https://sourceforge.net/projects/pyinstallerextractor to extract the exe. It produces a bunch of pyc.

Then "pip install uncompyle6" on windows to see what's in them. Obviously, FakeApp uses face-alignment from 1adrianb.

C:\FakeApp\alignment\a.exe_extracted\out00-PYZ.pyz_extracted>uncompyle6 face_alignment.pyc
# uncompyle6 versi

[2018-03-02 20:57] iperov commented on #233
there is no useful info

[2018-03-02 21:06] Apollo122 commented on #233
@Kirin-kun
Hmm I think it's safe to say that face-alignment/1adrianb finds more faces at least for some scenarios. It's possible that faceapp did some modifications on it. To confirm you can try the images directly on the library I shared the link above.

[2018-03-02 21:07] Kirin-kun commented on #233
face_alignment.api.py seems to be the relevant file.

`
from __future__ import print_function
import os, glob, dlib, torch, torch.nn as nn
from torch.autograd import Variable
from enum import Enum
try:
    import urllib.request as request_file
except BaseException:
    import urllib as request_file

from .models import FAN, ResNetDepth
from .utils import *
from settings import processor

class Lan

[2018-03-03 06:14] iperov commented on #233
I built dlib for VS2015 and ran example dnn_mmod_face_detection_ex.cpp and it found face !
Same dlib built for python found no faces :-\

[2018-03-03 07:36] iperov commented on #233
I found bug. LOOOL.

[2018-03-03 07:47] iperov commented on #237
check this in interpreter
[code]

[2018-03-03 08:28] iperov commented on #237
I understood your bug, wait fix.

[2018-03-03 08:45] iperov commented on #233
![fsviewer_2018-03-03_12-43-14](https://user-images.githubusercontent.com/8076202/36932312-c2fcf61a-1ee0-11e8-80d7-4b760cf07b57.png)

[2018-03-03 09:00] iperov commented on #237
https://github.com/deepfakes/faceswap/pull/236

[2018-03-03 09:01] iperov commented on #233
https://github.com/deepfakes/faceswap/pull/236

[2018-03-03 09:34] #233 closed

[2018-03-03 09:34] #237 closed

[2018-03-03 10:04] modelsex commented on #233
Amazing !!! Will do more test later, thanks !!!!!

[2018-03-03 10:09] master131 commented on #232
Seems to be a problem with the "method" global variable in multiprocessing.py. It's value isn't preserved in the forked Pool processes. I made a hacky workaround which seems to do the trick:

**multiprocessing.py**
[code]

**extract.py**
[code]

[2018-03-03 10:27] Clorr commented on #232
Thnaks @master131 . The problem of the global was known on Python3.6, that's why multi process was not made a default. Can you di a Pull Request so that people can test and give feedback? Thanks

[2018-03-03 10:29] Clorr commented on #233
@modelsex just a thought btw: if your faces are too similar, your training may overfit. Please keep in mind it is better to extract a frame only each 2 to 5s

[2018-03-03 10:33] iperov commented on #233
@Clorr not necessarily overfit.
For example https://www.youtube.com/watch?v=Va9JLpkCUBs I trained it with every frame of video.

[2018-03-03 15:03] DLSauron opened #239 "EOL Error when training"
After pulling the latest commit today I am now getting the below error when trying to train.

**Command**
python faceswap.py train -A "D:\Fakes\Data\Dataset_A\Faces" -B "D:\Fakes\Data\Dataset_B\Faces" -m "D:\Fakes\Model" -p -s 100 -bs 80 -t LowMem

**Error**
Traceback (most recent call last):
  File "faceswap.py", line 12, in <module>
    from scripts.convert import ConvertImage
  File "D:\Fakes\f

[2018-03-03 15:19] Ianmcmill commented on #239
remove the whitespace after \ in line 100

[2018-03-03 15:36] Clorr commented on #239
@babilio is that due to the #238 PR?

[2018-03-03 16:04] Ianmcmill commented on #239
I cannot speak for babilio but yes. #238 . Just a typo in his commit.

[2018-03-03 16:12] Clorr commented on #239
I updated the code, can anyone confirm it is ok?

[2018-03-03 16:40] DLSauron commented on #239
I can confirm the problem appears to be fixed.

[2018-03-03 16:40] #239 closed

[2018-03-03 18:17] GSonderling commented on #41
@Suicidman  I recommend Ubuntu subsystem for windows. It allows you to run almost anything like you would in normal linux, using familiar command line.
https://docs.microsoft.com/en-us/windows/wsl/install-win10
Granted, it is a developer feature. But the benefits are massive.

[2018-03-03 18:25] Kirin-kun opened #240 "Convert fails with "out of memory""
I thought I would give it a shot again after the latest corrections, so I tried to make a video, but I never could merge the faces back.

The video was originally 1280x720, extracted with ffmpeg: dlib cnn extractor worked like a charm since the latest correction in the face detection. Learning worked too.

But when trying to convert, it failed with OOM. Images too big? So I tried to resize the ext

[2018-03-03 18:43] blvck-mvgic commented on #240
I have the exact same problem with 1280x720 frames and a GTX 1060 6GB
`python faceswap.py convert -i C:\videoframes -o C:\videoframes\converted -v -m C:\model -t Original -c Masked -D hog -fr 5881-8140 -b 5 -S -M facehullandrect -e 0`
Can't process any frame, always OOM:
`Error while calling cudaMalloc(&data, new_size*sizeof(float)) in file C:\env\faceswap\dlib\dlib\dnn\gpu_data.cpp:195. code: 2,

[2018-03-03 18:45] iperov commented on #240
@Kirin-kun
`--alignments c;\fakes\data_A\faces\alignments.json`
;

no alignments was loaded, so used face extractor inside converter, this cause no mem for dlib+keras extractor+keras converter.

@Clorr I suggest disable converting if no alignments was loaded

[2018-03-03 18:51] Kirin-kun commented on #240
It was a typo when I filled this issue. I change the path here to shorten it.

Anyway, it still fails, whether there's an alignment file or not. And anyway, if the path to the file is mistyped, the program stops with "No such file or directory".

So, no, it doesn't use the face extractor inside the converter.

[2018-03-03 18:58] blvck-mvgic commented on #240
What if the dataset is made off multiple sources AND some images were deleted?
I have multiple alignments.json files in different folders

[2018-03-03 19:05] Kirin-kun commented on #240
I think/hope the converter loads an image, then searches the landmarks in the alignment file to know where to put the face and then proceeds to to its job. So that pictures in the alignments file would be missing from the directory should be irrelevant.

[2018-03-03 19:42] deepfakesclub commented on #233
I'm getting one-third the frame extraction rates with the latest commit compared to the original face_recognition. (not counting the loading time) Is anyone else experiencing this?

In terms of face extraction quality, I would say the current commit is probably the best general one. It is the most sensitive face extractor, although the error rate can be high at times. I'm posting the numbers I get

[2018-03-03 20:07] blvck-mvgic commented on #240
Ok this is what I did:
1) Extracted ALL target video frames with ffmpeg (instead of 1 frame per second as I did for training)
2) Deleted the frames I didn't need as I didn't wan't to wait hours to see the result and got something around 2500 frames which is like 1 minute and half of video, pretty fair
3) Ran python faceswap.py extract with target video folder to generate the alignments.json file u

[2018-03-03 20:20] Kirin-kun commented on #240
@blvck-mvgic conversion happened with 1280x720 frames?

[2018-03-03 20:27] blvck-mvgic commented on #240
@Kirin-kun yes, without any OOM
![image](https://user-images.githubusercontent.com/36662385/36938938-750632ac-1f29-11e8-8eab-0afd6a7985a1.png)

Also, GPU memory usage seems pretty normal, capped at 5.3GB as intended with tensorflow
![image](https://user-images.githubusercontent.com/36662385/36938928-2d89f562-1f29-11e8-91b6-37e4bac2263c.png)

The frames look completely fine, doing the extraction an

[2018-03-03 20:45] babilio commented on #239
Oops sorry guys I edited the helper just in github. Thanks for fixing this. I will be more careful in future commits.

[2018-03-03 20:49] Kirin-kun commented on #240
Funnily, it looks like it's working when you do NOT give the alignments parameter and keep everything at default.

It found the alignment file by itself after the extraction saved it in the default location and happily converted.

Well, case closed.

[2018-03-03 20:49] #240 closed

[2018-03-03 20:50] Kirin-kun commented on #240
When I let everything at default instead of giving the parameters, it worked.

[2018-03-03 21:24] iperov commented on #233
@deepfakesclub

I read this on the site :

faceswap uses dlib cnn+hog

also recheck stability test. No more zooming problems due to keras face-alignment.

[2018-03-04 14:30] Dorsolomon20 commented on #232
Hey, i keep getting issues when i try to convert the images, when i start the process all i get is a square box on top of the converted person face, also after 20 images i get "no alignment found for {}" the image file name, any ideas ?

[2018-03-06 02:40] ppmdo commented on #240
@Kirin-kun It seems I have the same problem. I can extract using CNN with no problem, but on convert, it fails with an "out of memory error".

If you don't set any parameters it works because it uses the Hog detector.

[2018-03-06 10:27] Suicidman commented on #41
@GSonderling Well, god damn thanx mate. I read your post yesterday and started reminding that i allready heard of this new windows feature. I set up an ubuntu env and got everything (finaly!) working yesterday in a few hours. Super important hint you made there.

[2018-03-06 16:45] cojosao commented on #208
Sorry for the late reply, but I’ve just managed to get back to being able to try this out. The new convert.py is able to find the aligned folder but it doesn’t check the images, instead, it claims every frame was deleted and doesn’t do any swapping. This is after running the new extract script with the better filenames and removing faces of everyone except for the target.

[2018-03-06 18:40] zimtmilchreis commented on #232
I've observed similar thing and mentioned it on playground repo.
Is it actually using all resources, you could try running parallel scripts on different sets of data.
I've splitted some files into different sets and executed extract scripts in parallel. It didn't affect processing time that much, so it makes everything 3 times faster, though it is not convenient.

[2018-03-06 19:59] goberoi opened #243 "Add improvements to work with YouTube videos?"
Hi folks, first off, thank you for your hard work on this repo.

I spent some time exploring what this code can do, you can see results here: https://goberoi.com/exploring-deepfakes-20c9947c22d9

More importantly, I wrote a script to help working with YouTube videos. This code may be interesting to this audience, and could be pulled into this repo down the road:
https://github.com/goberoi/faceit

[2018-03-07 02:38] oatssss commented on #208
@cojosao which commit on what branch did you try?

[2018-03-07 04:14] cojosao commented on #208
I tried it with both https://github.com/oatssss/faceswap/commit/b6be9db0ee8357f4f5a8af42e20bc77ec7bf0278 and https://github.com/oatssss/faceswap/commit/b4dc203e4c9f1f019666e4b447bc1be97d7df0c8 linked in this thread, with both having the same result.

[2018-03-07 06:46] babilio commented on #208
I am having the same issue as @cojosao , with a recent pull of https://github.com/oatssss/faceswap/tree/update-GAN-v2

[2018-03-07 07:24] babilio commented on #208
Also using match histogram -mh gives this error

`Failed to convert image: E:\data\a\10\3\0066.png. Reason: local variable 'mask' referenced before assignment
Failed to convert image: E:\data\a\10\3\0067.png. Reason: local variable 'mask' referenced before assignment
Failed to convert image: E:\data\a\10\3\0068.png. Reason: local variable 'mask' referenced before assignment
Failed to convert image

[2018-03-07 08:47] isleon opened #244 "Question about converting"
When I use the seamless mode the progress is getting very slow. 720 pics took about **1h30mins**.

**But** , if I first extracted the face of the photos to folder1, it takes about **5mins**.
then convert the extracted faces with  seamless mode, it only takes **2 mins**.  ??? and the result is good.

To me this is pretty wired, put the converted face back on takes 1h20mins??

**Using GTX1080ti with

[2018-03-07 09:19] Kirin-kun commented on #244
Well, in one case it ran the extractor inside the converter and in the other case it just read the alignments file? So, faster.

And the seamless mode takes notoriously a long time. It can multiply the time fourfold.

Actually, I find that seamless rarely looks good on a video : it make the colors flicker a lot, since it calculates the colors for each image individually and not in context.

I thin

[2018-03-07 11:14] iperov commented on #244
@Kirin-kun I see filcking with seamless mode only if celeb face noticeably narrow than porn face.

[2018-03-07 11:55] Clorr commented on #243
Hi @goberoi ,
Welcome and thanks for your post. If you want to contrib, feel free to make some PR if you want. You can either add a `convert-youtube` in the `scripts` folder or create a new `tools` directory with your youtube grabbing tool. Just beware of hardcoded values, but beside of that there is no problem for adding this type of script to the repo

[2018-03-07 13:04] Kirin-kun opened #245 "tensorflow 1.6.0?"
I noticed that tensorflow 1.6.0 is out, which can use cuda 9.1 I think. And uses AVX instructions.

Would it be useful to use it?

https://github.com/tensorflow/tensorflow/releases/tag/v1.6.0

https://developer.nvidia.com/cuda-toolkit/whatsnew

Edit: Oops, looks like tensorflow 1.6.0 is NOT built against CUDA 9.1 as was planned.

https://github.com/tensorflow/tensorflow/issues/15140

" We are not

[2018-03-07 16:05] i5L4NDOF5T4BiLiTY commented on #245
I already updated to 1.6.0 a few days ago, it works fine with the faceswap scripts on windows 10.
pip3 install --upgrade tensorflow-gpu.
Not sure what performance increase was from them activating AVX in the builds from our point of view, using mostly gpu.
It did feel slightly faster in a unscientific way.

[2018-03-07 16:26] oatssss commented on #244
@Kirin-kun what might work to get rid of the flickering is use seamless clone first, then on top of that histogram match using a filter based on the previous frame's histogram to try and smooth out the flickering.

[2018-03-07 17:01] luiscosio commented on #245
Yes, it works as expected without issues on Windows 10.

[2018-03-07 18:36] DLSauron commented on #245
I tested it and while training in Windows 10 it was displaying the below message every few seconds. It did not error out and training appeared to keep going but it was annoying and filling up the screen.

018-03-07 13:25:11.713373: W C:\tf_jenkins\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\stream_executor\cuda\cuda_dnn.cc:3492]

[2018-03-07 21:42] Clorr opened #247 "[Experiment] Retraining decoder to 256x256"
Hi guys,

I'm currently exploring some new ways of faceswapping. I wanted to share my last experiment on higher quality swaps which consists of modifying the decoder so that it outputs 256x256 images.

I assumed the following:
- input and output do not have to be the same size. Encoder does not need to have many details because anyhow it will erase a part of it
- The deeper autoencoders are, the h

[2018-03-07 22:07] babilio commented on #247
Interesting! I think your assumptions make sense and this looks very promising. How would I go about testing this. Can I use an old model and just train again with -t OriginalRetrain? Then when converting use -t OriginalRetrain or just -t Original?

Thanks!

[2018-03-07 22:11] kvrooman commented on #245
The new standard build for TF 1.6 will include the AVX instruction set so unless you've already been compiling your own, you should see improvements on some problems.  AVX2 and MKL enabled cpu's will be still faster than AVX ( ~20% ) for inferences if you still compile your own...
I found this install/compile guide helpful .
http://www.python36.com/install-tensorflow-gpu-windows/

Dlib, and some o

[2018-03-07 22:15] Clorr commented on #247
You can use an already trained model. The plugin will create a new decoder file that won't overwrite the existing one (=> the old decoder is not reloaded, at least for now, but the loss goes down much faster than for the initial training at least at the beginning).

For the converter, I did not manage yet to use the generated face at full resolution. I'll push an update when possible... (but yes,

[2018-03-07 22:17] Clorr commented on #247
Note that my goal was to have more details on output, but I don't think the simple decoder architecture will let me have what I want. However, we can still test this approach with much higher resolution (but then we will have to extract higher res faces)

[2018-03-07 22:43] Clorr commented on #247
@babilio I pushed a convert, it is as experimental as the rest ;-)

[2018-03-08 04:03] babilio commented on #247
I did a quick train and a convert and the convert turned even better than the training previews. It was a little blurry but I am working with a set of 250 images for B, so tentatively with bigger set or more training it would be better my loss was .02.

[2018-03-08 04:04] ruah1984 opened #249 "Question : More layer of Neural network, will have longer training time and more detail information??"
Some question for the neural network. if i trying to have more layer of NN, the training time usually will be longer, and how about the detail of output ? Will it be better than less layer NN??  i not sure if this the theory of NN

[2018-03-08 06:00] mansonami opened #250 "Change to resolve that can't generate image no shape issue"
def process(self):
        extractor_name = "Align" # TODO Pass as argument
        self.extractor = PluginLoader.get_extractor(extractor_name)()
        processes = self.arguments.processes
        try:
            if processes != 1:
                files = list(self.read_directory())
                for filename, faces in tqdm(pool_process(self.processFiles, files, processes=processes), total =

[2018-03-08 09:25] Kirin-kun commented on #249
I have a hunch that while the compute time will be longer for each epoch, it will get to the result faster if you have more layers & nodes.  If you have a lot of resources, it may be the way to go.

But eventually, the result will be the same, not "more detailed".

[2018-03-08 10:44] Clorr commented on #249
More layers is not a guarantee of anything. First you have to know what layer for what purpose. Also not only the layers are important but also the "loss function", the function that says to your model if it behaves right or not.

About layers, the model in DF is an autoencoder with an encoder part and a decoder part.

If you add a layer in encoder you may get more possible variations (but you don

[2018-03-08 10:50] #249 closed

[2018-03-08 10:51] Clorr commented on #250
Can you directly edit the file, it will make a pull request that we can review. Thanks

[2018-03-08 12:31] Kirin-kun commented on #245
@DLSauron This issue appeared suddenly for me too. It sometimes writes

C:\tf_jenkins\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\stream_executor\cuda\cuda_dnn.cc:3492]

Several times for a while, then stops... then it comes back from time to time.

It happened in a training session which eventually stopped with a OOM problem after a long while (leak?).

[2018-03-08 12:35] #244 closed

[2018-03-08 13:48] iperov commented on #247
I also tried various decoders to reach more detailed face. No chance.
I think its because NN learning to reach average of all warped crap we input to it.

look at gif showing warped input and output

even bent nose outputs straight nose.:
![2018-03-08_17-36-15](https://user-images.githubusercontent.com/8076202/37153886-9469a846-22f7-11e8-83fd-94202c175ce3.gif)

on the left looking eyes outputs str

[2018-03-08 14:08] Clorr commented on #247
As I said in #249 , this is not the way we will have more crisp faces because at some point the loss function is the problem.

However I was thinking higher res images would help on some small size features like eyes that sometimes are not really well rendered (I'm not talking about the sight direction but more on the fact that in some places eyes are just a horrible mix of pixels, and with higher

[2018-03-08 16:35] iperov opened #252 "added image sort tool to faceswap"
I added image sort tool to faceswap, which very useful to extract one face from various faces

Example original aligned folder:
![fsviewer_2018-03-08_20-08-06](https://user-images.githubusercontent.com/8076202/37161724-ecbfac92-230c-11e8-8346-5d71c471edc7.png)

Sort it by similarity:
`python.exe faceswap\sorttool.py -i %WORKSPACE%\data_src\aligned -by similarity`
result:
![fsviewer_2018-03-08_20-1

[2018-03-08 16:44] iperov commented on #252
PR https://github.com/deepfakes/faceswap/pull/254

[2018-03-08 17:00] cagkanciloglu commented on #208
@oatssss could you make a separate PR for this? So we can use it rather than waiting GAN to merge

[2018-03-08 17:02] Apollo122 commented on #208
@oatssss could you please make a separate PR for this? So people can use it for master

[2018-03-08 17:50] Kirin-kun commented on #252
If I understood correctly, it sorts them, then orders them by renaming them?

[2018-03-08 17:51] iperov commented on #252
yes

[2018-03-08 17:51] babilio commented on #208
Original convert is does not work for me still, whether the alignments have format x0.png or x__0.png, it just copies the original image without the swap.

[2018-03-08 18:11] torzdf commented on #197
I've submitted a PR for this. Feel free to test.
#253

[2018-03-08 18:40] Apollo122 commented on #208
@oatssss added new features for convert also such as histogram matching.  Maybe he changed some parts of it. I wonder if he can make a separate PR for that too. I don't think histogram matching exclusive to GAN.

[2018-03-08 20:08] i5L4NDOF5T4BiLiTY commented on #252
Works great, really does, thought it was broken it was so fast.
-by blur, chuck out the trash, then -by similarity to get rid of obvious dupes.
Epic time saver.

[2018-03-08 23:41] ppmdo commented on #232
I've been doing some tests on this issue, I think it is caused by Dlib being compiled with cuda enabled.

Basically, if dlib is compiled with cuda flags, there's no way to disable cuda at runtime; hence the initialization error.

I've reinstalled Dlib without cuda in my virtualenv and I was able to use multiprocessing, although the Extract script crashed with a MemoryError on 8GB RAM.

If anybody

[2018-03-09 02:03] oatssss commented on #208
@Apollo122 make a separate PR for the histogram matching? Yea I'll do that.

@cojosao @babilio I just tried the branch and convert is working for me, both the histogram matching and skipping deleted faces.

[2018-03-09 03:08] deepfakesclub commented on #252
Kind of like your lossA/lossB balancing, sorting and getting rid of very similar faces probably saves time so your model isn't training the same angle to perfection, while other poses are only sampled rarely.

Basically, the ultimate version would be to bin faces by similarity (which takes into account the pose primarily, I think), calculate the loss on each subset, and then optimize by training o

[2018-03-09 05:02] cojosao commented on #208
It looks like the issue was the Masked converter not working, which it seems you just fixed in the branch an hour ago :P
Sorry for the confusion, I will check back if anything else occurs but it seems to work great!

[2018-03-09 05:21] oatssss commented on #208
#260 should fix this

[2018-03-09 06:27] bryanlyon opened #261 "Requirements now needs a correct version of theano installed."
## Expected behavior

All functions work.

## Actual behavior

After update, system errors out with

ImportError: No module named 'theano'

Installing the latest theano (python3 -m pip install theano) gives the error

ValueError: You are tring to use the old GPU back-end. It was removed from Theano. Use device=cuda* now. See https://github.com/Theano/Theano/wiki/Converting-to-the-new-gpu-back-end%

[2018-03-09 06:31] iperov commented on #261
faceswap requie tensorflow, not theano

[2018-03-09 06:33] iperov commented on #252
@deepfakesclub  cannot understand what you mean. So you agree or disagree with optional functions loss_balancing and sorting faces ?

[2018-03-09 06:43] frosty3907 opened #263 "Very slow extraction with scripts vs fakeapp 1.1"
1080ti + OC'd 2600k using winpython 3.6.2 cuda 9.0 and tensorflow 1.6

**Training** utilizes ~50% of the GPU now (which is better than the ~25% utilized with FA 1.1) but extraction doesn't seem to utilize the GPU at all (getting around 1.33it/s) wheras with FA 1.1 I get around 17it/s - tried CNN and it dropped down to taking nearly a minute per file. Although I say it doesn't utilize the GPU it st

[2018-03-09 07:55] babilio commented on #263
It is likely that the alignment files are different from fakeapp, as fakeapp is a kind of a black box I'm not sure how those are generated.

Regarding extraction, do you have a lot of frames without faces? If so this fix I made #259 might help once it is merged.

Fakeapp as I far as I remember also for 1.1 used to jump up and down on gpu usage, here it is more stable, training goes way faster and

[2018-03-09 08:53] iperov commented on #263
Woot. Faceswap extraction faster than Fakeapp.

[2018-03-09 09:14] i5L4NDOF5T4BiLiTY commented on #252
@iperov can I ask for feature request lol?
-by cull, its sort of like sort -by blur, but deletes all pics that fall below a set threshold for blur, its hard to make  decision of whats blurry or not when dealing with multiple sets. Id rather know Ive culled to the same standard of pics mathematically, from each different set rather than what my mind thinks is blurry.

[2018-03-09 09:23] iperov commented on #252
i dont need this feature for myself, but you can implement it and create new PR after my PR will be merged

[2018-03-09 09:32] Kirin-kun commented on #263
Yeah, I made multiple tests and faceswap's CNN extractor is now a lot better than FA. And faster.

Actually, the warning about "may fail on large images" is obsolete I think (at least for middle range GPUs) : I fed it large jpg images (3177x4770), 16Mb on disk, from a camera and it extracted the faces without complaining and it gave really crisp 256x256 faces.

My adapter is a GTX 1060 6Gb and the

[2018-03-09 09:33] i5L4NDOF5T4BiLiTY commented on #252
Ill try lol, I have no idea what Im doing, I need to maybe get the blur score and do something with it hehe.

[2018-03-09 09:42] Clorr commented on #263
Please discuss this in faceswap-playground

[2018-03-09 09:42] #263 closed

[2018-03-09 09:45] Clorr commented on #261
Not sure why you have something related to theano. If confirmed please open an issue in faceswap-playground as this is more related to install

[2018-03-09 09:45] #261 closed

[2018-03-09 10:23] Clorr opened #264 "[Discussion] Merging PRs"
Hi guys,

We have quite a lot of PRs by now and we should merge a couple of them. I need your feedback on what is to be merged now and what can wait. Here is my proposal:

**To merge right now**

#256 Add multi-GPU support. => I see no problem

#251 Add Improved AutoEncoder model. => I see no problem

#258 Histogram matching with option -mh => I see no problem

#242 Align Eyes Horizontally After U

[2018-03-09 10:48] ruah1984 commented on #264
GAN 2.1 i think we shall test more to confirm

[2018-03-09 11:02] gdunstone commented on #264
This looks fine to me.

On 9 Mar. 2018 9:48 pm, "ruah1984" <notifications@github.com> wrote:

[2018-03-09 12:00] torzdf commented on #264
Obviously, I'm biased, but I'd really like to see #253 added, so I can work on other areas. It's an optional flag, and I haven't had any issues with it. In the unlikely event that something does come up, I will be on hand to hotfix.

Cheers!

[2018-03-09 12:25] mansonami commented on #250
has changed it through git commit.

[2018-03-09 12:44] Clorr commented on #250
sry, I don't understand

[2018-03-09 16:11] bryanlyon commented on #261
Traceback (most recent call last):
  File "faceswap.py", line 10, in <module>
    from scripts.extract import ExtractTrainingData
  File "/superm/data/Projects/faceswap/scripts/extract.py", line 7, in <module>
    from lib.cli import DirectoryProcessor
  File "/superm/data/Projects/faceswap/lib/cli.py", line 7, in <module>
    from lib.faces_detect import detect_faces, DetectedFace
  File "/superm

[2018-03-09 16:41] kvrooman commented on #263
I suggest ensuring your dlib build is using cuda and compiled optimally?

[2018-03-09 16:49] Clorr commented on #232
Note that there is a `dlib.DLIB_USE_CUDA` flag in Python, so we can rely on this to show a warning or to disable the multiprocess if someone uses CUDA in dlib

[2018-03-09 16:50] ppmdo commented on #232
Ok. I'll take a look into that and make a PR if possible.

[2018-03-09 16:51] babilio commented on #264
@Clorr what do you think of having a dev/test branch, in that case we could get PR requests in that branch quicker and maybe with less scrutiny, let devs test each other features and integrate them. Then, every so often just clone a good checkpoint to master? This could have less risk on what end users get.

[2018-03-09 16:52] kcimit commented on #264
GAN64 v2, I guess it comes with 128x128 procesing?

[2018-03-09 16:53] iperov commented on #264
#255 image sort tool - I wrote it as separated tool as you request @Clorr

[2018-03-09 16:54] kcimit commented on #252
hi iperov, would be nice to have a possibility to remove or move all visually similar images, including blurred ones without renaming the rest.

[2018-03-09 16:57] iperov commented on #264
#259 Improving performance of extraction.
Disagree to merge, check review.

[2018-03-09 17:00] Clorr commented on #264
@babilio why not, but I'm not very familiar with that type of workflow, and I thought PRs are already handy as they can be checkout and locally tested by a pull

@kcimit yes, the PR comes with all main GAN versions AFAIK

@iperov I asked you to do a separate tool as you proposed a new command and I don't want to have new commands for too specific behaviors. However if `sort` can be integrated in t

[2018-03-09 17:07] Clorr commented on #261
see https://github.com/deepfakes/faceswap-playground/issues/91#issuecomment-371875770

[2018-03-09 17:08] bryanlyon commented on #264
Personally, I like the idea of a support tools folder with tools like sorting images that some people wont use, but are useful in certain workflows.

[2018-03-09 17:11] babilio commented on #264
@iperov your issue with #259 should be fixed.

[2018-03-09 17:19] babilio commented on #264
I agree with @bryanlyon I like tools for things like image sorting or reevaluating alignments after you delete faces.

[2018-03-09 17:27] Clorr commented on #264
@iperov @bryanlyon @babilio no problem to integrate tool as it is, if someone disagree, plz tell this in the PR

[2018-03-09 17:28] i5L4NDOF5T4BiLiTY commented on #264
Extract
Sort
Train
Convert
Those four things need to be done, none of them are optional. if you do the sorting manually fine, but you are still doing it, to me it seems most logical to have those four modules.
faceswap.py extract, faceswap.py sort, faceswap.py train, faceswap.py convert.

[2018-03-09 17:31] kcimit commented on #264
Currently proposed solution for sort does not work on alignments.json to start with.

[2018-03-09 17:32] Clorr commented on #264
@i5L4NDOF5T4BiLiTY @kcimit plz don't discuss about workflow here, do it on the PR or in a new issue

[2018-03-09 17:33] bryanlyon commented on #264
As @kcimit said, this PR does not work on the alignments.json, so essentially is only useful for gathering training data.  Any sorting should work on the alignments.json so that it is usable for convert as well.

[2018-03-09 17:34] Clorr commented on #264
Same for @bryanlyon

[2018-03-09 17:36] bryanlyon commented on #264
@Clorr My comment was not about workflow, it was about this PR.  I think that this PR should not be accepted because it is not an appropriate solution, though it's a good start, it should be completed before it is accepted.

[2018-03-09 17:37] deepfakesclub commented on #252
@iperov Your loss balancing and sorting are both good.

Sorry, I was just speculating on a different kind of extreme sorting. Your loss balancing got me thinking about what other optimizations are possible.

[2018-03-09 17:43] kcimit commented on #264
@Clorr , I think this is what we are trying to achieve here, PR from @iperov could be considered as a good start, needs massaging though. But no need to demotivate contribuitors here - some people voiced for it.

[2018-03-09 17:45] Clorr commented on #264
@bryanlyon Ok I understand but it was confusing.

If you are against the PR because the tool has a bug, I'm ok with that and you should tell it in the PR. As long as there are important bugs, the PR won't be merged.

If you are against the tool in general, I can't agree as it is here for convenience. This can help people and I'm fine with that. But I now understand that it was not your point

[2018-03-09 17:48] Clorr commented on #264
@kcimit that's why it is in the **under consideration** section. It is open, and waits for feedback and improvments

[2018-03-09 17:53] Kirin-kun commented on #245
Doesn't seem to have prominent issues, but 1.5.0 doesn't produce warning outputs. So, I'll revert back to 1.5.0

[2018-03-09 17:53] #245 closed

[2018-03-09 17:55] bryanlyon commented on #264
I agree that direct discussion should exist on the individual PRs.  This separate discussion is confusing, especially if we want to avoid discussing specific improvements for the individual PRs.

I believe that instead of an issue for merging a collection of PRs, which is obviously causing confusion, we should discuss them on the individual PRs and/or merge into a dev/test branch and then promote

[2018-03-09 18:20] Clorr commented on #264
I would agree if we were in a company where everyone is similarly involved in the project, but it is a bit different here. This issue is exceptional as we had some old PR not reviewed and quite a lot of new PRs, plus the GAN that is long awaited.

In such an open source project, some PRs are popular and we know quite fast if it is ready or not, for the others, it is not really clear. And a test br

[2018-03-09 19:09] bryanlyon commented on #264
I say we merge all the ones you've suggested as merge, as well as #260 and #252.  Though 252 should probably be in a "tools" folder.

One note, if we merge both #256 and #251 we'll need to patch the IAE model for Mutli GPU.  I've already done it in the https://github.com/bryanlyon/faceswap/tree/iae_multigpu but I am reluctant to submit a PR for something that relies on two existing PRs both being

[2018-03-09 19:15] Clorr commented on #264
Ok, thanks. For #251, #260, #252, I think they are hot enough so if they stay a bit more, it won't be a big problem. Anyhow, I will possibly have also conflict so merging "right now" will likely take one or 2 days...

[2018-03-09 20:16] iperov commented on #264
Merge GAN first please.

[2018-03-09 23:18] bryanlyon commented on #264
I agree that #217 Should be the first merge.  It's a major update and will actually require rewriting many of the other PRs since it's an architectural change.

[2018-03-10 01:17] frosty3907 commented on #263
How? Sorry I spent many hours installing various things to get this to work. The installation instructions seemed to miss out many key requirements.

[2018-03-10 01:39] babilio commented on #263
after following the instructions https://github.com/deepfakes/faceswap/blob/master/INSTALL.md
-pip uninstall dlib
-you're gonna need to install cmake: https://cmake.org/download/
-download dlib from here and run the commands shown from command prompt: http://dlib.net/compile.html
 notice the line line where you have to specify the version of visual studio you have

[2018-03-10 07:44] iperov commented on #264
@Clorr where is batch size fix ? https://github.com/deepfakes/faceswap/pull/236

[2018-03-10 07:55] Clorr commented on #264
#236 has been merged. However due to structure changes it may have been lost. I'm on my phone so I can't check, but feel free to review and push a pr if necessary

[2018-03-10 07:59] iperov commented on #264
yes man who changed structure didnt transfer content of Trainer
I so mad.

[2018-03-10 08:07] iperov commented on #264
`push a pr if necessary`
no thx, I so tired. Working in opensource much exhausting me. Its require to check all pr's, because ppl can erase something I wrote before as it happened with #236.
Also https://github.com/deepfakes/faceswap/pull/253 man cannot provide proofs why his improve can detect more faces.

[2018-03-10 08:17] iperov commented on #264
`push a pr if necessary`
no thx, I so tired. Working in opensource much exhausting me. Its require to check all pr's, because ppl can erase something I wrote before as it happened with #236 and #259
Also https://github.com/deepfakes/faceswap/pull/253 man cannot provide proofs why his improve can detect more faces.

[2018-03-10 08:37] Clorr commented on #264
It exhausts you because you put too much passion and expectations in the project. We don't care if this project fails here or here sometime, it is not rocket science or nuclear research.

It is just a collective effort to share some knowledge and if there is a defect someone who is bothered by the problem will fix it.

Some attention has to be given so that it does not go too bad though, but we ar

[2018-03-10 09:49] Clorr commented on #247
I updated the code with DSSIM loss function and res_block. Not very big improvments, but still better than previous. This is the result:
![_sample_training](https://user-images.githubusercontent.com/873943/37240799-8cab0f8c-2450-11e8-89c0-e5aad2e09386.jpg)

[2018-03-10 10:23] Clorr commented on #162
What's the status here? Can it be PRed? let me know when we can close this

[2018-03-10 10:24] Clorr commented on #150
See #241 (temporary PR until we have a more generic PR)

[2018-03-10 10:24] #150 closed

[2018-03-10 11:30] Clorr commented on #250
seems to be fixed in #262

[2018-03-10 11:30] #250 closed

[2018-03-10 12:23] Kirin-kun opened #268 "Latest commit breaks training."
I made a pull before starting a training session:

Loading Trainer from Model_Original plugin...
__init__() takes from 4 to 5 positional arguments but 6 were given

I made a `git reset --keep HEAD@{1}` to get back and it works again.

[2018-03-10 12:31] Clorr commented on #268
Should be fixed, can you confirm?

[2018-03-10 13:27] Kirin-kun commented on #268
Yes, it's fixed.

[2018-03-10 17:10] Kirin-kun commented on #268
Reopening, because it breaks at conversion now:

Failed to convert image: ...0255.png. Reason: '<' not supported between instances of 'NoneType' and 'int'

[2018-03-10 17:17] Clorr commented on #268
Can you remove the `try: except:` in convert.py and provide the full exception message? Otherwise provide the command line options you are using, thx

[2018-03-10 17:33] Kirin-kun commented on #268
python faceswap.py convert -i H:\Fakes\pics -o H:\Fakes\pics\merged -m H:\Fakes\model -b 20 -e 30 -D cnn

[code]

[2018-03-10 17:37] Clorr commented on #268
Ah... Do you use a previously generated alignments.json? Because the rotation is likely to be missing. I can check how to handle that.

CC @torzdf

[2018-03-10 17:37] torzdf commented on #268
Are you converting with frames you extracted with an older version?

[2018-03-10 17:46] Kirin-kun commented on #268
Probably. I extracted yesterday, then this morning pulled the repo and tried to train : it errored as mentioned first in the PR.  I then reverted my repo and trained.

I re-pulled it to test the earlier fix and restarted the training correctly, so I let it run.

Then I went on to convert: boom.

[2018-03-10 17:48] torzdf commented on #268
Basically the alignments.json file had to change a little bit. @Clorr would you like me to code something in? It seems a bit obsolete to handle backwards compatibility as there should only be a small window.

@Kirin-kun the easiest fix would be to open your alignments.json and do a find replace all:

Look for:

Replace with:

If you are using notepad++, go to find replace, check the box which says

[2018-03-10 17:48] torzdf commented on #268
goddamit, spaces got stripped...

[2018-03-10 17:49] Clorr commented on #268
Isn't it possible to give a default value? Or just to test for None?

[2018-03-10 17:51] torzdf commented on #268
It is given a default value... if an alignments.json value isn't present. 2 mins, I'll put in a fix

[2018-03-10 17:53] Kirin-kun commented on #268
Well, it can be useful to allow people to re-use their previously extracted data to continue a training session or try another trainer. I have a set of  training data on which I test original, gan and gan128 to see the differences and various convert settings.

[2018-03-10 18:33] torzdf commented on #268
I've put in a pull request to apply a default value of 0. Hopefully it will be added soon. Very quick test appears to have fixed the issue.

Any problems, let me know

Cheers.

[2018-03-10 18:47] Clorr commented on #268
@kirin-kun ok for you?

[2018-03-10 19:05] Kirin-kun commented on #268
Ok, for me. I pulled the last commit and it converted without a hitch.

Can be closed.

[2018-03-10 19:05] #268 closed

[2018-03-10 19:28] Kirin-kun opened #270 "Histogram matching overreach?"
Not sure if it's unavoidable (and it's not the optimal use case), but when the face is partially hidden, the color of the obstacle, if really different from the colors of the face, spills into the converted face in patches with histogram matching:

With Seamless and no histogram matching (a bit blurry on the border, but that's to be expected):

![tae0256a](https://user-images.githubusercontent.com

[2018-03-10 22:57] kvrooman commented on #247
the issue of the "averaged face" pose/eye gaze direction/blur is due to the way the loss function is designed. differences in alignment ( double eyebrows, eye gaze, distorted or zoomed features, incorrect expression or pose) are lumped together with differences in texture ( color, lighting, gamma, white balance ) in the single loss function.

was reading a paper with some very interesting ideas on

[2018-03-11 04:57] gessyoo commented on #232
I managed to recompile Dlib and OpenCV to use CUDA on Win 10 x64, hoping to speed up the extract/align process.  It boosted GPU use during training from about 50% to 65%.  But as stated above, with Dlib CUDA-enabled, adding the -j parameter to the command line crashes facewap.py, but the extract script runs fine if -j parameter is omitted, on a GTX 1070 with 8 Gb.  But there is only 1% or 2% GPU u

[2018-03-11 06:13] iperov opened #273 "TypeError: unorderable types: NoneType() < int()"
@torzdf
you didnt add backward compatibility in your image rotating system
[code]

[2018-03-11 06:16] iperov commented on #273
suggest fix
[code]

[2018-03-11 07:21] Clorr commented on #273
We pushed a fix yesterday in #269 , isn't it working?

[2018-03-11 07:31] oatssss commented on #270
How do you detect that the color deviates too much though?

[2018-03-11 07:43] iperov commented on #273
ok close

[2018-03-11 07:43] #273 closed

[2018-03-11 07:47] iperov commented on #270
same problem
![37238911-ea9ea790-2449-11e8-8e44-724d7aa98104 1](https://user-images.githubusercontent.com/8076202/37251001-0780ed54-2522-11e8-9a1f-068452d788fd.png)

[2018-03-11 08:56] Kirin-kun commented on #270
@oatssss I don't know precisely. If we have an histogram of the colors, there should be a peak corresponding to the "odd" color(s). With setting a threshold, you could drop them before doing your matching.

Just a suggestion, I'm not knowledgeable enough in image processing to know if it's possible or not.

[2018-03-11 09:15] oatssss commented on #208
Yup, #260 addresses this and it's already closed.

[2018-03-11 09:15] #208 closed

[2018-03-11 11:25] babilio opened #274 "IAE Plugin model not working"
I tried running the new IAE model here and I am getting this error.

My input was
python faceswap.py train -A E:\...\aligned -B E:\...\aligned -m E:\data\models\trbl -p -t IAE -bs 128

Loading Trainer from Model_IAE plugin...
__init__() takes from 4 to 5 positional arguments but 6 were given

[2018-03-11 11:46] Kirin-kun commented on #274
Also, should be mentioned it is not compatible with previously trained original model:

[code]

Will have to start from scratch.

[2018-03-11 11:59] seranus commented on #274
you can load partial weights into Keras, haven't tested it

https://keras.io/models/about-keras-models/

`model.load_weights(filepath, by_name=False): loads the weights of the model from a HDF5 file (created by  save_weights). By default, the architecture is expected to be unchanged. To load weights into a different architecture (with some layers in common), use by_name=True to load only those lay

[2018-03-11 12:10] Clorr commented on #274
Ah I assumed it was ok, did not test. However that's not a bad thing as I will add a suffix to distinguish these model files from original at the same time of fixing

[2018-03-11 13:05] frosty3907 commented on #263
Thanks but just gets more errors:
S:\desktop\dlib-19.9\examples\build>cmake --build . --config Release
Error: could not load cache

follows
S:\desktop\dlib-19.9\examples\build>cmake ..
CMake Error in CMakeLists.txt:
  Failed to run MSBuild command:

    MSBuild.exe

  to get the value of VCTargetsPath:

    The system cannot find the file specified

[2018-03-11 13:18] JayantPythonLover commented on #274
Here's what you can do to fix this.

Go to plugins/Model_IAE/ folder and open the Trainer.py folder.

Replace

with >

def __init__(self, model, fn_A, fn_B, batch_size, *args):

----

And yes, the model files for the IAE model are different from the original. So you will need to create a new folder for those and start the process anew.

[2018-03-11 13:38] Clorr commented on #274
Your fix is merged

Important notice: I renamed the model files so that users who try this don't overwrite their original model

[2018-03-11 13:38] #274 closed

[2018-03-11 13:52] Kirin-kun opened #276 "IAE doesn't start training if there's no IAE_encoder.h5 file already present."
The model doesn't start training if there's no IAE_encoder.h5 file in the directory. It crashes with "file not found".

I renamed an original training file as IAE_encoder.h5 and it started.

It should create a new file if none is found, like the other models.

[2018-03-11 14:11] Clorr commented on #276
Hmm, IAE should have the same behavior than other models. Also encoder file has the same behavior as other files so I don't see a reason why it would fail. It will output a warning anyway but it shouldn't stop... I can't test right now, if someone else can give more feedback it would be nice...

[2018-03-11 14:12] JayantPythonLover commented on #276
It creates new files if no existing model is found. It gives you a warning for the same but continues to start training as expected. I just tested it. Seems to be working as intended.

This could be something on your end. Please double check that the folder you are writing to has write permissions.

[2018-03-11 14:20] Apollo122 opened #277 "Unit Tests Before Merging to master"
Lately  i see lots of issue post caused by merges https://github.com/deepfakes/faceswap/issues/268 , https://github.com/deepfakes/faceswap/issues/274 , https://github.com/deepfakes/faceswap/issues/276
People here quickly address these issues and have them fixed but in future we will encounter these nonetheless. I think running a script doing basic sanity checks (extract, train, convert) would be u

[2018-03-11 14:26] Kirin-kun commented on #276
Hmm, that's odd. When I first started it, I had a message:

Unable to open file (unable to open file: name = 'H:\Fakes\modeld.iae\IAE_encoder.h5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)
Loading Trainer from Model_IAE plugin...

Then it stalled and didn't do anything.

But I just retested, this time with a completely empty directory and it gave the same mess

[2018-03-11 14:26] #276 closed

[2018-03-11 16:14] torzdf commented on #197
This issue can be closed.

[2018-03-11 17:01] #197 closed

[2018-03-11 17:21] Clorr commented on #277
Related #222

[2018-03-11 17:39] Kirin-kun commented on #270
On this frame, landmarks debug shows this:

![tae0256_0](https://user-images.githubusercontent.com/36699120/37256390-55b7a12e-255a-11e8-9b93-9232bf86e402.png)

I suppose the landmarks for mouth and chin are defaults calculated relatively to eyes and nose? The chin is much shorter than the real one.

Would there be a way to store in the alignments file which landmarks were effectively detected, and

[2018-03-11 22:51] Kirin-kun opened #279 "Sharpening the face before applying it"
Sharpen by  multiplying every pixel by 2, and then subtracting the average value of the neighborhood from it.

I modified Convert_Masked.py and I find the face less blurry on closeups on hi-res pics, though it's a bit too sharp on normal/low res compared to the rest of the image.

YMMV.

[code]

[2018-03-12 05:47] bryanlyon commented on #277
I agree that unit tests would be invaluable.  The difficulty is in how we verify some of the result data, since much of our data is non-deterministic.  We could at least ensure that each command runs correctly.  We may be able to try loading/saving a model without processing it to ensure it's not changed (but models may be changed with random data on load).  No unit testing would be perfect, even

[2018-03-12 07:36] frosty3907 commented on #263
I think maybe this is because I've installed the wrong components in Visual Studio? There's dozens of options and I've tried installing all the likely suspects but still just keep getting the above error.

[2018-03-12 09:41] Crypt1cBunny opened #282 "Got 6GPU's, faceswap only works with one"
## Expected behavior

*When I pass on the -g parameter with a value of 6, I would expect 6GPU's to be processing*

## Actual behavior

*Only one GPU is found *

`o callmulti_gpu_modelwithgpus=2, we expect the following devices to be available: ['/cpu:0', '/gpu:0', '/gpu:1']. However this machine only has: ['/cpu:0', '/gpu:0']. Try reducinggpus.`

**In the above message I tried with -g 2**

## Step

[2018-03-12 10:04] Clorr commented on #247
Thanks for the link, seems very interesting I'll try to read this ASAP. Note you can post this kind of info in faceswap-model repo, it is more dedicated to gather this kind of paper.

I totally agree that the loss is the problem now. The first layers are trained well, we just now have a problem on the very last layers that don't get the right info to adjust correctly. I'm currently trying simple s

[2018-03-12 10:16] Kirin-kun commented on #282
Looks like a problem with keras, according to google.

And holy shit. 6 GTX 1080ti? Even if it's a cloud provided rig, that must cost an arm and a leg.

[2018-03-12 10:52] Clorr commented on #282
According to https://keras.io/utils/#multi_gpu_model , keras should behave well with that much gpus. Check if you have the equivalent in keras of the `list_local_devices`.

FYI source of keras multi gpu is [here](https://github.com/keras-team/keras/blob/master/keras/utils/multi_gpu_utils.py), maybe you will find a way to see where your error comes from. Keep us posted if you find

[2018-03-12 11:54] babilio commented on #263
Have you tried visual studio 2015?

[2018-03-12 11:58] Clorr commented on #279
Plz make a PR so that people can test directly and give feedback

[2018-03-12 12:00] Clorr commented on #213
@iperov can we close this if your sort tool does it already?

[2018-03-12 12:01] Clorr commented on #213
Ah no it's more a duplicate on filename...

Do we need this? Isn't it done already?

[2018-03-12 12:07] Kirin-kun opened #283 "IAE Model performing poorly if faces not varied enough?"
I ran the same face sets than on original for about 18hours and the loss is a bit inconsistent with the results obtained:

`saved model weights loss_A: 0.01015, loss_B: 0.02425`

It seems it plateaued there  After a few more hours, the values didn't change.

I thought it was pretty good losses, but the preview was not good: Face BtoA was still no good (scrambled) on some matches, but face AtoB, de

[2018-03-12 12:32] JayantPythonLover commented on #283
Any model needs to be trained with a data set that has variety for it to be able to eventually perform well with data sets which have very similar images.

I used a data set which had variety and let the IAE train for a while. Once I achieved low loss values on that data set, I put up a data set with less variety and it is performing just as the original one does.

Just a matter of how well your m

[2018-03-12 12:43] Kirin-kun commented on #283
I launched a training session with several different people in face A (hopefully with variety)  same model files

The loss A jumped back up to 0.5x. and it's slowly going back down. Loss B (same face than before, but with varied poses) seems pretty stable at 0.024 though.

I will see how it goes from there. Will keep you informed.

[2018-03-12 12:59] JayantPythonLover commented on #279
@Kirin-kun Like you pointed it out yourself, the problem with this method is that the kernel will work for a very limited type of images and in most cases will lead to a very harsh border or over darkened blacks to compensate for the sharpening requirement.

I've personally tried many methods of sharpening and none of them actually are good enough to work across varied data sets. At some point the

[2018-03-12 13:18] Clorr commented on #213
related to #214 AFAIK. If not please reopen...

[2018-03-12 13:18] #213 closed

[2018-03-12 13:39] Kirin-kun commented on #201
I think this issue can be closed. Looks like the author got overwhelmed and doesn't plan to update it.

[2018-03-12 13:46] iperov commented on #282
btw you can train 6 different models simultaneosly
by set env var
CUDA_VISIBLE_DEVICES="0"

[2018-03-12 13:47] Crypt1cBunny commented on #282
What do you exactly mean 6 different models @iperov ? You mean one training session on 6GPU's ?

[2018-03-12 13:51] iperov commented on #282
@Crypt1cBunny 1 session per 1 gpu. 6 different folders with different data's
set CUDA_VISIBLE_DEVICES="0"
python faceswap.py ...

set CUDA_VISIBLE_DEVICES="1"
python faceswap.py ...

[2018-03-12 13:55] Kirin-kun commented on #282
@Crypt1cBunny he means that you can launch 6 faceswap at the same time.

The env variable tells the library which GPU bind the process to (0, 1, 2, 3, 4 or 5)

[2018-03-12 14:11] DLSauron commented on #283
I am also seeing some really weird results with IAE. Below you can see and example of the original (A) face then one and example of the original model merged on to it and then the same done with IAE. Both where trained to below 0.02.

Right now I am building a dataset of over 16K faces from 10 people and am going to train that for the B side before switching back to the original B dataset I was us

[2018-03-12 14:16] Kirin-kun commented on #283
@DLSauron I'd rather put the 16K faces in the A side and train the model until it can put the B face on them. Then switch the data in A with your real target and retrain a bit.

That's how I understand it would do the trick though.

[2018-03-12 15:58] bryanlyon commented on #282
With Linux, please make sure that your backend ~/.keras/keras.json is using tensorflow.  It looks like it's using something else as it's backend.  Right now, mutli GPU support only works with the tensorflow backend,  By default it's using torch and will only see 1 GPU.

[2018-03-12 16:26] oatssss commented on #277
Even a basic test that the program can just start one of the extract/train/convert processes is good (those issues listed above would've been caught with this simple test).

[2018-03-12 16:29] bryanlyon commented on #283
Unfortunately, IAE is a model with an implict limitation of being extremely "overtrainable".  If you overtrain it, then it will really look funky.  This is because it separates out the "pose" from the "face" completely and has no human intuition that it looks weird.  The model may benefit from some changes and adjustments, but for now, its design means you'll get best results from just a basic tra

[2018-03-12 16:41] oatssss commented on #270
@Kirin-kun That's an interesting idea, we need a method to detect which landmarks weren't effectively detected though. Dlib [doesn't have this feature out-of-the-box](https://github.com/davisking/dlib/issues/718). We could do what you suggest and have some threshold for the ratio of distances between eyes/nose vs chin/mouth but this seems very specific to your use case where the mouth is covered.

[2018-03-12 17:23] DLSauron commented on #283
I decided to try training both A and B at the same time with the same 16K faces. My hope is that by training it really well it will have a good idea what a "face" is and that it will allow me to create a really well trained "template" model that will be able to use as a base model for real faceswaps to speed up future training.

[2018-03-12 17:26] bryanlyon commented on #283
Unfortunately, this is not a very good generic model.  This one especially needs the A and B to stay the same.  You'd be better off doing that with the Original model.

[2018-03-12 17:52] Crypt1cBunny commented on #282
It's definitely set to tensorflow.

[2018-03-12 17:57] bryanlyon commented on #282
If it's set to tensorflow, it should be seeing all the same GPUs as tensorflow since Keras literally just calls the fuction in tensorflow.  If your backend is set correctly, please make sure that you're not using sudo or virtualenv.

[2018-03-12 18:04] babilio commented on #283
Yeah I did a set then I tried changing A and keeping B the same and it didn't work. However I feel this model does perform better for expressions that are not matched across sets.

[2018-03-12 18:14] Kirin-kun commented on #283
Yeah, after a few hours of training B with many different faces in A, the preview looks funky and the resulting conversion has nothing to do with the intended face.

[2018-03-12 18:32] Crypt1cBunny commented on #282
Looks like there is a bug in keras.

https://github.com/keras-team/keras/issues/8213

I can see someone forked and fixed it, however looks like it isn't in the latest version. I tried to edit the local files with this patch (dirty), but couldn't get it working yet.

Python is all new to me :-)

[2018-03-12 18:38] Kirin-kun opened #284 "GAN128 trainer broken"
Can't train with GAN128 anymore:

Loading Model from Model_GAN128 plugin...
__init__() takes 2 positional arguments but 3 were given

Same old.

Original, GAN and IAE have been updated to take the gpus parm.

Not GAN128.

[2018-03-12 18:44] bryanlyon commented on #282
This is strange, because it works for me in Windows and Ubuntu.

I don't think that this is a keras bug, since it's actually calling the backend (tensorflow) directly.  In fact, the bug that you submitted showed all the video cards detected, but not working due to showing a different name.  In your case, faceswap is not detecting additional video cards at all.

Can you post a log of the whole star

[2018-03-12 18:49] Crypt1cBunny commented on #282
`/usr/local/lib/python3.5/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
Model A Directory: /home/riggy/fakes/output/putin
Model B Directory:

[2018-03-12 19:11] bryanlyon commented on #282
Hmm, this is odd.

What about echo $CUDA_VISIBLE_DEVICES

or the deviceQuery from CUDA?

[2018-03-12 19:20] Crypt1cBunny commented on #282
echo $CUDA_VISIBLE_DEVICES => result empty

deviceQuery => https://pastebin.com/6wuujMy8

[2018-03-12 19:34] Clorr commented on #284
Add a fix, and your name will live in a forever glory as contributor to this repo ;-)

[2018-03-12 19:36] bryanlyon commented on #282
The weird part is that TensorFlow shows that only one GPU is found in the log you posted above, yet when run separately it's showing all the GPUs.

I'm checking this out to see what other troubleshooting or logs might help, but this seems to be caused outside of faceswap.

Can you try running again with first setting CUDA_VISIBLE_DEVICES="0,1,2,3,4,5" and see if that helps?

[2018-03-12 19:56] Crypt1cBunny commented on #282
Same, settings the env variable has no impact.

[2018-03-12 20:01] Clorr commented on #282
Can you provide keras and tensorflow version? (I assume it is tensorflow-gpu?)

[2018-03-12 20:04] Clorr commented on #284
Likely fixed by #280

[2018-03-12 20:10] Kirin-kun commented on #284
Fixed!

[2018-03-12 20:10] #284 closed

[2018-03-12 20:14] Crypt1cBunny commented on #282
Is there a way to easily find these?

[2018-03-12 20:18] ppmdo commented on #232
After further inspection, I think this issue is related to Tensorflow using CUDA instead of Dlib. I have just tested the -j flag in an environment with Tensorflow compitled with CUDA and Dlib without it, and it works. It just crashes on with Out of Memory error.

[2018-03-12 20:24] bryanlyon commented on #282
Did you install from the correct requirements.txt files?

Each version of Python and Cuda needs the matching file.

For Python 3.5 and Cuda 8 it is as follows:
requirements-gpu-python35-cuda8.txt
pathlib==1.0.1
scandir==1.6
h5py==2.7.1
Keras==2.1.2
opencv-python==3.3.0.10
tensorflow-gpu==1.4.0
scikit-image
dlib
face_recognition
tqdm

For Python 3.6 and Cuda 9 it is as follows:
requirements-gpu-pyt

[2018-03-12 20:31] Crypt1cBunny commented on #282
I know I installed the requirements.txt file for cuda8 in the beginning. But is there any way to verify it?

https://gist.github.com/Crypt1cBunny/f8599bb89df960d45b324d9f7beb6966

[2018-03-12 20:33] Clorr commented on #282
it is something like `pip list` or `pip freeze` (or pip3 if you are using python3)

[2018-03-12 20:34] bryanlyon commented on #232
I can confirm that it works without CUDA on the dlib.  I use this myself on a server for most of my extraction tasks.

[2018-03-12 20:40] Crypt1cBunny commented on #282
Jup looks good (pip3 as I'm using python3)

https://gist.github.com/Crypt1cBunny/58a57306087cc42e99366721bd118e83

[2018-03-12 20:43] bryanlyon commented on #282
You're running the correct TensorFlow for Cuda 8 and Python 3.5.

What is your
python3 -V

Did you install Cuda 8?

I recommend you install all cudnn versions for Cuda 8 (they can exist independently).  All in your Cuda 8 folder.
cudnn-8.0-linux-x64-v5.1.tgz  cudnn-8.0-linux-x64-v6.0.tgz  cudnn-8.0-linux-x64-v7.1.tgz

[2018-03-12 20:45] ppmdo commented on #232
I've added some logic to test if tensorflow has GPUs available in the extract script. If the user uses the -j argument and GPU are visible for TF, the program exits with a warning stating there's a way to force TF to use CPU only by using the CUDA_VISIBLE_DEVICES=-1 environment variable.

Link to the commit on my fork:
[https://github.com/ppmdo/faceswap/commit/eb928c24212deed620ba0326387055a763154

[2018-03-12 20:48] Clorr commented on #282
Hmm, you have both tensorflow and tensorflow GPU, not sure if it is safe...

[2018-03-12 21:00] bryanlyon commented on #232
Okay, I investigated the problem.  Here is the basic cause: when you use -j it actually just starts multiple copies of the extract script.  The extract scripts then ALL try to use the GPU.

This means that -j necessarily needs to be limited to CPU only.  Doing it from a environment variable is not the best way.  I'll work on this and create a patch that runs on the CPU only when -j is invoked.  Th

[2018-03-12 21:03] Clorr commented on #232
Maybe use `dlib.DLIB_USE_CUDA` to detect dlib using GPU and invalidate `-j` option. (I said "maybe" because I'm not sure of it but this could be a quick patch)

[2018-03-12 21:11] Kirin-kun commented on #270
@oatssss it would probably be also useful with other kind of obstacles, like hair in front of eyes, hats covering eyebrows, scarves, in order to avoid for their color to spill on the color correction.

[2018-03-12 21:13] bryanlyon commented on #270
I wonder if we can use the mask from GAN for color matching too.

[2018-03-13 00:27] ruah1984 opened #286 "question: GAN in this repo"
May i know GAN in this repo have include the Unsupervised segmentation mask?? if yes, when convert how we activate this function?

[2018-03-13 01:11] bryanlyon opened #287 "GAN128 does not work with the multi_GPU_model"
GAN128 does not support the multi_GPU_model

## Expected behavior

Running with multiple GPUs and the matching -g --spus command line option it should run the GAN128 plugin spread across all GPUs using the Keras multi_gpu_model which automates much of this task.

## Actual behavior

The current build gives the following error whenever attempting to use -g > 1
('The name "model_4" is used 2 times i

[2018-03-13 04:04] acsaga commented on #283
@bryanlyon Thanks for pointing out the problem of iae. I will try to improve it 😄

@DLSauron Could you share your dataset somehow? I myself didn't train iae with such many faces so sorry for it performs bad 😭

[2018-03-13 06:37] deepfakesclub commented on #279
Something that has been mentioned elsewhere - would it make sense to write the converted faces into files before merging, and then merge back into the original images in a separate step?

Other image and video editing packages are much better suited to doing custom modifications, or even handling the merging itself, rather than jury-rigging random image editing functions into faceswap itself. Once

[2018-03-13 06:40] 3xtr3m3d opened #290 "LowMem trainer no longer available?"
with latest code downloaded today i'm getting below error when trying to use lowmem trainer

`faceswap.py train: error: argument -t/--trainer: invalid choice: 'LowMem' (choose from 'GAN', 'GAN128', 'IAE', 'Original')`

[2018-03-13 07:23] JayantPythonLover commented on #279
I've added some sharpening techniques here. Take a look.

https://github.com/deepfakes/faceswap/pull/285

[2018-03-13 07:43] nfersaonjco opened #291 "Issue with python faceswap.py -h"
I try using python3 faceswap.py -h in terminal

And I keep getting:

Call this program like this:
   ./face_recognition.py shape_predictor_5_face_landmarks.dat dlib_face_recognition_resnet_model_v1.dat ../examples/faces
You can download a trained facial shape predictor and recognition model from:
    http://dlib.net/files/shape_predictor_5_face_landmarks.dat.bz2
    http://dlib.net/files/dlib_face

[2018-03-13 07:46] Apollo122 commented on #279
@deepfakesclub yeah it would be useful. For example there technique I want to try -superResize. For that I need those converted faces beforehand

[2018-03-13 07:50] 3xtr3m3d commented on #291
use help as this

`python3 faceswap.py extract -h
python3 faceswap.py train -h
python3 faceswap.py convert -h`

[2018-03-13 08:26] nfersaonjco commented on #291
@3xtr3m3d Thanks a lot for the quick response! I just tried those. But unfortunately, all 3 of those still return the same message as I mentioned above:
"
Call this program like this:
   ./face_recognition.py shape_predictor_5_face_landmarks.dat dlib_face_recognition_resnet_model_v1.dat ../examples/faces
You can download a trained facial shape predictor and recognition model from:
    http://dlib.

[2018-03-13 10:49] Kirin-kun commented on #291
I think you should create a directory somewhere and redo a clone of https://github.com/deepfakes/faceswap.git just to be safe.

Your repo seems to be mixed up with Davis King dlib's python examples or something.

https://github.com/davisking/dlib/blob/master/python_examples/face_recognition.py

[2018-03-13 11:01] Kirin-kun commented on #290
It seems the LowMem model hasn't been ported to the plugin infrastructure. But if you look at the code, the differences between LowMem and Original are very few.

The ENCODER_DIM (aka nodes) variable is lowered to 512 and there's a commented line
`x = self.conv(1024)(x)`

Really, that's about all.

I suspect you could just use notepad and savagely change the Original model and it will work.

[2018-03-13 11:22] Kirin-kun commented on #279
Well, the main advantage of faceswap is that it does a lot of the job automatically.

There are Photoshop tutorials out there that help to face swap "realistically" but it's a bit time consuming and most people won't take the time to do that (especially for video)

But I gues you could add a few lines there to load "new_image" if it exists in a preset directory under a preset name.

[2018-03-13 11:46] AbysmalBiscuit commented on #252
I've extended the sorttool to now be able to sort into into folders, both by blur and similarity. It uses the same similarity and blur sorting approaches as the renaming. I have also added the option of specifying an output directory that defaults to the input directory if none is given (which preserves the original functionality of the renaming approach).

The folder grouping by similarity takes

[2018-03-13 12:11] iperov commented on #252
Your version is outdated. Check current tools\sort.py

[2018-03-13 13:16] Kirin-kun commented on #270
Also, I'm not sure why it appears in blotches. That it would show on the edges of the merged face would be understandable, but why does it appear between the eyes or on the cheeks?

[2018-03-13 14:39] AbysmalBiscuit commented on #252
Hi,

I've  extended the sorttool to now be able to sort images  into folders, both by  blur and similarity. It uses the same similarity and blur sorting  approaches as the the current version. I have also added the option of specifying  an output directory that defaults to the input directory if none is  given (which preserves the original functionality of the renaming  approach).

The folder grou

[2018-03-13 14:40] iperov commented on #252
@AbysmalBiscuit already told you , your version is outdated.

[2018-03-13 14:47] 3xtr3m3d commented on #290
Thanks. yeah already got it working but this should be fix

[2018-03-13 14:48] AbysmalBiscuit commented on #252
@iperov my bad, didn't see.

[2018-03-13 14:49] iperov commented on #252
also cannot understand why need work with additional folders

[2018-03-13 14:54] AbysmalBiscuit commented on #252
It's more convenient in terms of having clear separations between how the images are grouped together. Especially when working with very large datasets like when you extract faces from several minuts of video.

It would also allow you to preserve the original filenames which would make it possible to use them for the aligned folder when converting.

It would also make it easier to delete the image

[2018-03-13 15:38] Kirin-kun commented on #252
The usual process, at least for me, is usually the following:

1 - Have neat B facesets ready. Sorted, various poses, etc...
2 - Extract all frames from target video
3 - Extract all the faces from all frames, in order to have an aligments.json ready
4 - Prune from the extracted faces the "false positives" (wasn't a face, wasn't the desired face, was a too small face...)
5 - Start training with all

[2018-03-13 16:11] iperov commented on #252
I dont use sorttool for dest data. Only for source data, where alignments absolutely unused.

[2018-03-13 17:31] AbysmalBiscuit commented on #252
My work process is more or less the same as @Kirin-kun.

@iperov  I think there has been a misundurstanding about what each person needs the folder sorting for. What I need it for is sorting the extracted 'faces', be it for training data or conversion data. If I'm not mistaken the people in this thread who want to be able to sort the faces into folders  are in the same use case as I am.

Here's a

[2018-03-13 17:47] Kirin-kun commented on #252
@iperov [why not both?](https://memegenerator.net/img/instances/53134784/why-not-both.jpg)

[2018-03-13 18:15] Kirin-kun commented on #252
@AbysmalBiscuit just did a quick test with simple args:

python sort.py -i h:\Fakes\data_A\aligned -o h:\Fakes\data_A\aligned\sorted -g folders -by face

And I just have a couple remarks:

- Why delete from input dir? It defeats the purpose of later use of the aligned dir for merging, because you'd have to move back everything from the subfolders. The space saved by not duplicating isn't worth the

[2018-03-13 18:51] AbysmalBiscuit commented on #252
In general I've refactored the sort to match the code style and to be arranged symmetrically in terms of methods, with the original methods followed by are my folder methods.

@Kirin-kun It doesn't actually delete from the input dir, it moves the images to the grouped dirs.
This is because if I would need to move the images in the sorted directories into the aligned directory, I could write a shor

[2018-03-13 19:35] AbysmalBiscuit commented on #252
@Kirin-kun I've added an option to keep the original files (-k, --keep) and improved the descriptions to be more verbose and to say the default values.

Can you take a look and tell me if it's clearer/better now?

I'll try working on improving the grouping now.

[2018-03-13 19:45] nfersaonjco commented on #291
@Kirin-kun Thanks a lot for the response! So I downloaded and redid the link you gave me following https://github.com/deepfakes/faceswap/blob/master/INSTALL.md

First issue was trying to run 'pip3 install -r requirements.txt'. Since wasn't any 'requirements.txt', I'd get an error.

So instead I ran 'pip3 install -r requirements-python36.txt'. When I did though, it eventually returned this toward t

[2018-03-13 20:27] Kirin-kun commented on #291
The Install.md is severely outdated, or inaccurate. You should install the requirements from requirements-gpu-python36-cuda9.txt (do you actually have an NVidia adapter?)

And I have a hunch you're trying to run it on OSX? I think you face an uphill struggle,

There's something on google about typing `xcode-select --reset` or `xcode-select --install` to install the tools needed to build software o

[2018-03-13 20:57] AbysmalBiscuit commented on #252
@Kirin-kun After optimizing the face method (and concequently familirizing myself with the library used for it), I know why it found the same face but looking in different directions.
It's because that's what it's meant to do. It is meant to find the same face in a variety of conditions.

Hence I have come up with a sample workflow:
1. Extract video that will have a variety of faces (A, B, C, D).

[2018-03-13 21:35] AbysmalBiscuit commented on #252
@Kirin-kun I have optimized the group matching, set sane threshold defaults and explained the the threshold better.
When you have the time take a look and tell me what you think. :)

[2018-03-13 22:42] Clorr commented on #291
If you notice problem in install.md or any other documentation, please try to improve. You can edit directly the files on github, even without any knowledge of git. When editing directly on Github, this will take care of making a PR for you

[2018-03-13 23:14] Clorr commented on #282
@Crypt1cBunny can you uapdte us so that we know if it's ok or not?

[2018-03-13 23:15] Clorr commented on #279
Can we close this? (as #285 is merged)

[2018-03-14 00:42] oatssss commented on #286
It's automatic when you use the converter with a gan trained model. I haven't been getting good results with gan though. The kinks still need to be worked out.

[2018-03-14 01:34] ruah1984 commented on #286
Try a few model for GAN, unable to get a good result after convert. Preview is good, but after convert the result is bad

[2018-03-14 03:21] gessyoo opened #294 "Extract error: Extract() Takes 4 Positional Arguments but 5 were given"
**Note: Please only report bugs in this repository. Just because you are getting an error message does not automatically mean you have discovered a bug. If you don't have a lot of experience with this type of project, or if you need for setup help and other issues in using the faceswap tool, please refer to the [faceswap-playground](https://github.com/deepfakes/faceswap-playground/issues) instead.

[2018-03-14 03:35] deepfakesclub commented on #279
@Kirin-kun  I agree you want auto-insertion, and that will be good enough for 90% of the users. But for the best results, you will have to do manual editing at some point, even if that means just deleting a really bad frame and redoing it or something.

After Effects has auto face outline tracking, I believe, and a much more powerful workflow for editing video. You can combine automated merging wi

[2018-03-14 03:37] ruah1984 commented on #286
how about the mask refinement ?

[2018-03-14 03:37] #286 closed

[2018-03-14 05:20] gessyoo commented on #247
Can somebody give me a quick explanation how to run the experimental retrain model or post the code?  I tried inserting the experimental code in a cloned Original Model directory but got error messages.

[2018-03-14 06:01] iperov commented on #252
also there is code duplication

`img_list = [ [x, cv2.calcHist([cv2.imread(x)], [0], None, [256], [0, 256])] for x in tqdm(self.find_images(input_dir), desc="Loading") ]`

[2018-03-14 06:34] bryanlyon commented on #294
This issue is missing critical information, please read the instructions and at the requested information.  We can't help you without knowing what is happening.

[2018-03-14 08:33] kcimit commented on #252
Would it be possible to create a log renames.log containing list [new file name];[original filename]

[2018-03-14 08:35] Kirin-kun commented on #279
We can close this, as any further discussion would deviate anyway.

[2018-03-14 08:35] #279 closed

[2018-03-14 09:21] Clorr commented on #290
Merged #292

[2018-03-14 09:21] #290 closed

[2018-03-14 10:11] torzdf commented on #252
You can add it as an import (just tested).

add the import as normal, and execute the command from the faceswap dir as:

python -m tools.sort

I admit, it's not perfect and we may need to update some documentation, but it is doable.

[2018-03-14 10:24] Clorr commented on #294
There is a 5th argument added by #242 but it seems you're using an older version of `scripts/extract.py`

[2018-03-14 10:24] #294 closed

[2018-03-14 10:24] #291 closed

[2018-03-14 10:47] Clorr commented on #283
Since I'm trying to do a many-to-one face model, I was thinking of adding a face recognition step in the loss, maybe this could help? (I didn't check how resource intensive it is though...)

[2018-03-14 12:45] AbysmalBiscuit commented on #252
@kcimit I'll add a log feature.

@iperov can you explain in what way the `img_list` creation code is duplicated?
It only occurs once in the `process_hist_folders()` method, and besides missing two formatting spaces it's the exact same method used in the `process_hist()` method.

I will add the `-by face-cnn` method.

@torzdf I think it would be better to add it to faceswap.py as an additional main

[2018-03-14 13:36] Clorr commented on #252
@AbysmalBiscuit I don't want to add a new `sort` command to faceswap.py at least for now. You guys think in term of end user usage, and in that case I understand your point: there is a workflow where you `extract`, `sort`, `train` and then `convert` things. On my side, I don't think in term of end user usage, I do think in term of Machine Learning constraints.

The extract is not just extracting f

[2018-03-14 14:10] iperov commented on #252
@AbysmalBiscuit also add

hist-unsim

first places photos which maximum non similar with each other

[code]
also make same with face-unsim

example:

at first maximum non similar:
![fsviewer_2018-03-14_18-05-55](https://user-images.githubusercontent.com/8076202/37407287-b9cfae0e-27b2-11e8-9a6d-295e6947b0a1.png)

at end maximum similar:
![fsviewer_2018-03-14_18-06-09](https://user-images.githubuser

[2018-03-14 14:11] iperov commented on #252
^ so we can cut photos which useless for nn model

[2018-03-14 15:52] ydeng11 opened #295 "During step of converting, it has error 'can't create frames'"
Does anybody has the same issue? I have finished training but cannot swap faces for video.

Thanks!

[2018-03-14 16:12] bryanlyon commented on #295
During creation of your issue, the following messages were in the textbox by default.  We need the information to help.  Please read it and fill it out completely.

**Note: Please only report bugs in this repository. Just because you are getting an error message does not automatically mean you have discovered a bug. If you don't have a lot of experience with this type of project, or if you need fo

[2018-03-14 17:32] Kirin-kun commented on #295
The "can't create frames" thing seems to be out of MyFakeApp when it's attempting to remake the original video.

I don't think you will get support on this side project here. Radek stopped developping it and the scripts it uses are outdated (cf https://radek350.wordpress.com/2018/02/17/myfakeapp-fakeapp-alternative/)

[2018-03-14 17:40] Kirin-kun commented on #283
When you say "many-to-one", you mean making an average face, like [this](https://www.learnopencv.com/average-face-opencv-c-python-tutorial/)?

Or the reverse, putting the same face on multiple persons? Because the original model can do that partially already.

[2018-03-14 17:44] Clorr commented on #283
I trying putting the target face on any person I present to the model. Original is not bad already, but I'm trying to refine (see left columns of my images in #247 ).

[2018-03-14 18:13] AbysmalBiscuit commented on #252
@Clorr cheers for explaining the general direction of the project and intention for `faceswap.py`.  :)
I guess I do mostly have an end user perspective.

Would you be open to the idea of having something like a `faceswap-tools.py` or `tools.py` file? Since this would allow for a clear separation of the machine learning aspects while allowing for easy integration and usage of end user tools/feature

[2018-03-14 18:17] Clorr commented on #252
Yup, i told that [here](https://github.com/deepfakes/faceswap/pull/278#issuecomment-372970615) ;-)

[2018-03-14 19:22] AbysmalBiscuit commented on #252
Ah. I hadn't seen that. ^_^
The file paths issue with imports brought up in that thread was the reason why I wanted to use a root dir command script as well. :p

From experimenting earlier today with integrating sort into `faceswap.py`, I had re-written the `sort.py` cli parsing to more or less match `scripts/train.py`, so I have also just made a  `tools.py`.

However there is an issue, since if t

[2018-03-14 19:38] #201 closed

[2018-03-14 21:01] JayantPythonLover opened #296 "Closed Eyes, Open Mouths and Teeth"
More of a discussion thread rather than an issue ... but has anyone looked into how we can improve the below mentioned features.

**Closed Eyes**
With the current models, if the source eyes are closed (generally during a frame where they blink), the target image is still rendered with open eyes. As a result all results look like the target is creepily staring at us or look absolutely dead and life

[2018-03-14 21:06] Clorr commented on #296
I played a bit with loss function and res_blocks to get better details, however I had not much luck. In this try, however I got [better defined eyes](https://github.com/deepfakes/faceswap/issues/247#issuecomment-372017633)

[2018-03-14 21:11] Clorr commented on #295
Please reopen in playground if necessary

[2018-03-14 21:11] #295 closed

[2018-03-14 21:11] JayantPythonLover commented on #296
@Clorr That is actually great work. I can see the pupils inside the irises in most of them. Definitely a step in the right direction to addressing this issue.

I'll take a look at the model and some papers to see if there is anything we can do to address these issues. Fixing these will monumentally increase the quality of the output imo.

[2018-03-14 21:14] Apollo122 commented on #296
You probably know but perception loss helps with realistic eye movements -so it's said in gan repo anyways.

[2018-03-14 21:15] Clorr commented on #296
In the crowd of super resolution nets, [this one](https://github.com/jormeli/srcnn-keras) could be very simple to test as it is implemented in keras.

[2018-03-14 21:23] Apollo122 commented on #296
You can check this too
https://github.com/titu1994/Image-Super-Resolution

[2018-03-14 21:30] AbysmalBiscuit commented on #252
@iperov I have updated my gist with the hist-dissim and face-dissim methods; 'dissim' because it's dissimilarity and not unsimilarity. :)

Both methods work, but because I'm pretty tired at the moment I'm not sure if I have converted the face-dissim to work correctly, could you have a look and tell me what you think?

I still need to add the renaming logger option.

[2018-03-14 21:33] Clorr commented on #296
Also has anyone an idea about what PixelShuffler does? AFAIK it brings some noise which prevents overfitting, but do we know how much noise this is? Couldn't this perturbate the reconstruction as it is on each upscale layer?

[2018-03-14 21:47] Clorr commented on #296
(Seems to be from SRGAN, but I couldn't find the theoric part around it. Some links pointed to tf.space_to_depth so maybe it does not introduce noise but it is more like a reshape. If you have more info I'd be glad to learn more about it)

[2018-03-14 21:49] Kirin-kun commented on #296
We already have the pupils, from the source pictures. Since it's not something that has to be warped, wouldn't it be possible to recolor the visible portions using opencv?

Or train a new NN for the eyes :)

[2018-03-14 23:09] bryanlyon commented on #296
@Kirin-kun Yes, I really like the idea of adding eye replacement using the
source image.  Pupils really don't need to change that much due to lighting
(we probably wont notice dilation).  I can work on this idea once my plate
is a little more clear.

On Wed, Mar 14, 2018 at 2:49 PM, Kirin-kun <notifications@github.com> wrote:

[2018-03-15 00:26] kvrooman commented on #296
Alternatively, fitting a 69th landmark for the pupil location and
performing the respective transforms and inverse transforms when
normalizing the faces would likely provide some improvement

On Wed, Mar 14, 2018 at 6:10 PM, bryanlyon <notifications@github.com> wrote:

[2018-03-15 00:35] bryanlyon commented on #296
Yeah, that's about the idea I had. I would build a pupil recognition system and replace the original eye into the target eye.

[2018-03-15 05:45] deepfakesclub commented on #283
@Clorr
Yeah, I was thinking of additional loss functions (or metrics, similar idea) for faceswapping. It's kind of difficult, because there is no ground truth, unlike warping. For my benchmarking, I just ended up doing face_recognition distance measurements, but it is still unsatisfactory.

Basically, it would be nice to have the faceswap procedure itself be subject to selection.

I did think of o

[2018-03-15 05:59] iperov commented on #252
looks ok

[2018-03-15 08:42] Kirin-kun commented on #296
pupil color can be affected by the lighting environment, like shadow over the face, especially for clear eyes, so a bulk replacement with a single reference pupil would probably produce sometimes unnatural pupils.

So, ideally, you'd have to first analyze the lighting condition of the unmodified target eye of A and adapt the original eye from B face to it before replacing. Can be tricky if A and B

[2018-03-15 12:58] AbysmalBiscuit commented on #252
@Clorr @iperov I have added the renaming/moving logging using a json file.
I have also fixed the issue I had with importing from the tools directory, now it's possible to import from it directly (I had to create an empty `__init__.py` file in the tools directory).

As far as I see it, it's all done and ready to be commited. :)

Do you want me to commit to a different branch for the pull request, o

[2018-03-15 14:03] Yuxishan2 opened #297 "Reduce the model"
Does reconstruct the structure of auto_encoder by the concept of shufflenet a good idea?
With a smaller model, more people can use it to make remarkable
videos.

[2018-03-15 16:16] fetchlister opened #299 "Model not valid"
I have recieved trained models from friends before for deepfaking but recently I have been getting errors saying that the model isn't valid. eg

Dimension 1 in both shapes must be equal, but are 1024 and 512 for 'Assign_8' (op: 'Assign') with input shapes: [16384,1024], [16384,512].
Model Not Found! A valid model must be provided to continue!

These models are made by windows users ostensibly usin

[2018-03-15 16:33] andykdy commented on #299
I haven't looked at the code too much but perhaps the model was trained using the LowMem model and you're trying to use the original converter.
I believe fakeapp 1.1 is quite dated now (don't quote me on that) so I suggest training on the most recent commit.

[2018-03-15 23:16] Clorr commented on #297
It is possible to add as many plugins as we want so if you can implement something it can be added to the repository

[2018-03-15 23:22] Clorr commented on #299
Try LowMem model, maybe you can have luck with it. Otherwise note that FakeApp has options not documented and not available here so it possible that you can't use them with code from this repo

[2018-03-16 05:19] MT-4ier commented on #299
I can confirm that a model trained with LowMem will show an error like that when attempting to use the Original trainer. The 1024 is what the trainer is expecting, and the 512 is what the model has been trained with previously.
There could be other problems, like a number of layers mismatch, but it's the Encoder_Dim on line 15 of the Model.py that's causing that error specifically.

[2018-03-16 08:16] fetchlister commented on #299
How would I correct for layers? @MT-4ier

[2018-03-16 09:49] MT-4ier commented on #299
I think the Original model uses 7 layers, and the standard LowMem model uses 6 layers. The LowMem model has removed line 57 from the Original, which is `x = self.conv(1024)(x)`.
If the LowMem model has too few layers to match the models you've been given, you can add in that line. If it has too many layers, you can comment out some `self.conv` lines with the number symbol #.

[2018-03-16 10:19] Clorr commented on #299
@fetchlister you can use LowMem by using -t LowMem on command line. Otherwise, you will have to modify the code. But if you don't know which model configuration was used to produce the file you have, it may be a hard guess work

[2018-03-16 11:50] torzdf commented on #283
Just to add my experience with this model, I got vastly superior results using IAE compared to original.

A contains about 2000 faces of the same person ripped at 1fps from various 720p videos. B contains about 500 pics, with less varied angles.

Original model was trained for about 24 hours (GTX 1080). A got down to about 0.017, B to about 0.025. I can never get B down much lower with this partic

[2018-03-16 16:17] bryanlyon commented on #297
ShuffleNet is an optimization for running Neural Networks on a phone or other portable low power device.  This is not going to help what we're attempting to do with faceswap since we are spending our time training a model, not just running one.  Due to the fact that almost all effort is spent on training, a shufflenet is not an appropriate solution.

[2018-03-16 21:51] Yuxishan2 commented on #297
@bryanlon  You have a very good point, the training process will take a lot of time, and no one will train the models on mobile phones.so the shuffle net may bring very little benefits. But for someone who don't have good gpus on their computers, if they have an option that using shuffle to train their models and do the inferences, it may save them a lot of time.

[2018-03-17 02:12] bryanlyon commented on #297
Sadly, shufflenet is not faster to train than a "normal" model.  In fact, it takes additional work after the model is trained.

To do this on a phone is simply impossible.  To do this on a computer without GPUs is simply not feasible.  Unfortunately, CPUs just don't have the speed necessary to train models in reasonable time.  If you want to train a model without GPUs, you're welcome to use facesw

[2018-03-18 02:03] frosty3907 opened #300 "Suggestion: 3D Face Reconstruction via Direct Volumetric CNN Regression"
ala: http://cvl-demos.cs.nott.ac.uk/vrn/

This achieves good results from a single image, imagine what could be done with larger datasets.

Could be used for missing angles.

[2018-03-18 13:46] kellurian commented on #300
Its not a bad idea, getting the OBJ files to either JPG or PNG without uploading would be the trick. In addition, the "faces" it produces do seem rather limited in size.

[2018-03-18 14:07] frosty3907 commented on #300
the site itself has a renderer - not that hard to dumps some pngs from there, and in terms of limited in size- well we're only looking at 128x128px

[2018-03-18 22:49] waltergammarota opened #302 "Missing files on alignments.json"
Hello,

I'm not sure if it is a problem, or just my lack of knowleadge, but when I use the alignments.json file to convert images, it skip some of the files from my batch, resulting in an incomplete set (with missing files in between).

Not sure how to interpret this behaivor, I know the aligment file is generated when I extract the faces from the frames, before starting the training process, but

[2018-03-18 23:16] bryanlyon commented on #302
Look at the messages during the convert, it'll tell you any files it doesn't convert and why.  Usually, yes, it's because it doesn't find faces.  One thing you can do is run extract again with --skip-existing and different options selected to try to find more faces.  CNN works better than hog and finds more faces.  Rotation also night help.  Try different options to find more faces and figure out

[2018-03-18 23:29] kellurian commented on #300
The object files aren't too detailed- I looked at them in simplify3d to see about printing some and they are kinda messy. Still having trouble getting any .png files from them. It's not a a to b conversion, and the site doesn't have, that I can find, a spot to output .png files from the obj files. Let me know if you see a solution.

[2018-03-19 00:14] ruah1984 commented on #302
i think when extract, off the --skip existing, it may help.

[2018-03-19 02:20] ruah1984 commented on #300
https://github.com/AaronJackson/vrn.

[2018-03-19 08:41] iperov commented on #300
how it can help with faceswapping ?

[2018-03-19 08:53] ruah1984 commented on #300
@iperov, this just help to simulate different angle of face, base on 3D face reconstruction. but i think unless we can know which angle we don't have,  if not we actually create more dataset for each 2D face.

[2018-03-19 09:10] Apollo122 commented on #300
There's this script in dfaker's repo - I saw this earlier somewhere else- Maybe we can get missing positions using this script.

https://github.com/dfaker/df/blob/master/imageGapsScanner.py

[2018-03-19 10:24] ruah1984 commented on #300
As i know the imageGapsScanner may require both.json files for data A and B.

[2018-03-19 11:55] Clorr commented on #127
PixelShuffler seems to be an implementation of this paper: https://arxiv.org/pdf/1609.05158.pdf

[2018-03-19 12:15] #282 closed

[2018-03-19 12:15] #297 closed

[2018-03-19 12:15] #299 closed

[2018-03-19 12:16] #287 closed

[2018-03-19 12:16] #243 closed

[2018-03-19 12:16] #247 closed

[2018-03-19 12:17] #277 closed

[2018-03-19 12:17] #270 closed

[2018-03-19 18:39] kcimit commented on #300
@ruah1984, like everything else in @dfaker project, I find it very relevant.

I also tried this reconstruction project - using output results from 1 photo does not gives useful results, Some face features are simply missing - like using frontal photo, you will never get nostrils, chin etc.

There are some commercial software which can do some part of the job - facegen or facial studio which can re

[2018-03-19 19:45] deepfakesclub commented on #300
This issue would perhaps be better off in the playground repo.

Anyways, I tried playing around with this tool a long time ago, as well as a bunch of other software packages for 3D face reconstruction. For the .obj files, I think MeshLab was the free viewer I used that supports textures.

The bottom line is that I don't think the quality is good enough to use except for very specialized and lucky/

[2018-03-19 19:54] dfaker commented on #300
I don't think you'd need to generate full new voxel clouds just to generate new angles we don't care about a useful model, just new angles to enrich the samples.

It'd be possible to take an average 3d face (a simple model), rotate it, then project the 2d face points onto it aligned with the face noting the X and Y positions from the new non-head-aligned viewing angle, that'd give you two sets of

[2018-03-19 20:06] iperov opened #303 "what we can deal with irregular train set ?"
(sry bad english)

What we can deal with this problem: for example,
we have 1 face at 90 deg, and 10 faces from 0 to 10 deg

set batch size to 1, and we can see when trainer hit 90 deg image, train loss jumps to highest value.

So can model train more with one 90 deg face ? or this will be ineffective?

[2018-03-19 20:22] bryanlyon commented on #303
First, sorry for accidentally closing this issue.

Align during extract should make all faces line up the same way.  If you have a face that is coming in sideways, that is the same as a general false positive and should be deleted manually.  If you really want that face, you can try running extract again it with -r on.  Right now, it'll likely find the bad face again, without aligning it properly,

[2018-03-19 20:28] iperov commented on #303
what ?

[2018-03-19 20:31] iperov commented on #303
maybe I poorly explained. This is not align related.

[2018-03-19 20:41] bryanlyon commented on #303
You shouldn't be training on faces that are very different from all the others.  It confuses the model.  All faces should be aligned to each other before training.

[2018-03-19 20:57] iperov commented on #303
or for example , there are too few faces with closed eyes, so result is constantly opened eyes

[2018-03-19 20:58] iperov commented on #303
@Clorr what you think? bryanlyon cannot understand me

[2018-03-19 20:58] babilio commented on #300
Yeah, I've tried the facial reconstruction from the link and it doesn't really reconstruct the face properly, like you would get a nose or chin that are too big or small and it ends up with model results that don't look like the person

[2018-03-19 21:59] kvrooman commented on #127
A good high level summary of the issue and why the sub-pixel shuffle was implemented
https://distill.pub/2016/deconv-checkerboard/

Note: I haven't really read through which method is implemented in Pixel_Shuffler.py  There have been dozens of suggested improvements since the original paper came out.

In this thread
https://github.com/keras-team/keras/issues/3940
someone found that standard keras

[2018-03-20 03:47] kvrooman commented on #303
The training loss jumps because the current weights in the frontal face trained NN generalize poorly to the single profile face. Also setting the batch size very small can over-fit as the NN attempts to adjust itself for each batch and it ping-pongs back and forth.

I think your larger question is...
Does the extra information provided by the "profile/eyes closed" face improve the fit on the "fron

[2018-03-20 05:21] deepfakesclub commented on #303
I think there are two different problems:

1) The training spends more time training 0-10 degrees, since the images are drawn randomly for each batch of training. The 90 degree angle will train roughly 10x more slowly. The model will also bias towards the more common example (open eyes vs closed eyes).

2) During conversion, your model has poor quality for 20-80 degrees of face A -> face B. Even i

[2018-03-20 05:48] iperov commented on #303
@deepfakesclub yes

[2018-03-20 06:22] dfaker commented on #303
@kvrooman nice find!

[2018-03-20 08:18] FabianIsensee commented on #127
Thanks a lot! That is very helpful!

[2018-03-20 08:47] iperov commented on #283
same problem

Source:
![01484](https://user-images.githubusercontent.com/8076202/37644268-a6d7b2ea-2c3c-11e8-97a0-f7e93f6a11bf.png)

Dest:
![out00168 3](https://user-images.githubusercontent.com/8076202/37644216-7889c9be-2c3c-11e8-9c45-d623e0ed9b83.png)

Original:
![out00168](https://user-images.githubusercontent.com/8076202/37644122-3671d1c0-2c3c-11e8-8dd7-a5082e2d280e.png)

IAE:
![out00168 2](ht

[2018-03-20 09:28] iperov opened #304 "histogram matching doesnt help"
model original

source:
![01484](https://user-images.githubusercontent.com/8076202/37646078-13b32200-2c42-11e8-9d3c-afd7e8873440.png)

dest:
![out00168 3](https://user-images.githubusercontent.com/8076202/37646091-17939cce-2c42-11e8-8091-64dd08c63dc7.png)

converted:
![out00168](https://user-images.githubusercontent.com/8076202/37646081-155ee2b0-2c42-11e8-809c-50ce93b0625b.png)

^ look at yellow-b